// index.styl
// VRO Web

@import variables

// ----------------------------------------------	

.main-content
	// -
		
[data-page="main"]
	.main-content
		background lighten(blue, 50%)
		
[data-page="faq"]
	.main-content
		background green
	
