// index.styl
// VRO Web

@import variables

// ----------------------------------------------	

body 
    background-color $grey

.main-content
	max-width 1024px
	top 0px
	margin-top 0px
	border-radius 0px
	min-height 500px
	overflow hidden
	padding 0px

.header
	width 100%
	height 40px
	position fixed
	z-index 100
	background #fff
	top 0px
	left 0px
	box-shadow 0px 0px 5px alpha(#000, 20%)
	
.slide
	width 100%
	height 350px
	background red
	position relative
	top 40px
	overflow hidden

.img1
	left 0%
	background blue
	bg-image insta "jpg"
	
.img2
	left 100%
	background green
	bg-image W_2013_199 "png"
	
.img3
	left 200%
	bg-image WP_Meta_IV-3840x2160_00249 "png" 
	
.slideobject
	height 100%
	width 100%
	position absolute
	transition margin-left .5s
	background-size cover
	
$quote = '"'
for num in 0 1 2
	.slide[data-index={$quote}{num}{$quote}]
		.slideobject
			margin-left (-100% * num)


.bildtext
	$height = 50px
	z-index 20
	text-align center
	color white
	text-decoration none
	font-size 500%
	text-shadow 0px 0px 150px #000
	top 50%
	position absolute
	line-height $height
	height $height
	margin-top (-0.5 * $height)
	width 100%