// index.styl
// VRO Web

@import variables

// ----------------------------------------------	

body 
	background-color $grey

.main-content
	max-width 1040px
	top $headerheight
	margin-top 0px
	border-radius 0px
	overflow hidden
	padding 0px
	box-shadow 0px 0px 40px -16px rgba(0,0,0,0.8)
	border none
	padding-bottom 5px

body > .topheader
	width 100%
	height $headerheight
	position fixed
	z-index 100
	background #fff
	top 0px
	left 0px
	box-shadow 0px 0px 5px alpha(#000, 20%)
	
	@media (max-width:500px){
		box-shadow none
	}
	
.center-header
	top 0px
	width 100%
	max-width 1040px
	height 100%
	margin auto

.header
	background-size cover !important
	
	@media (max-width:500px){
		background-image none !important
	}
	
.headertext
	text-decoration none
	color white
	text-align center
	width 100%
	font-size 500%
	opacity 0.95
	cursor default
	
	padding-top 50px
	padding-bottom 50px
	
	@media (max-width:500px){
		padding-top 10px
		padding-bottom 10px
		color black
	}
	
.slide
	width 100%
	height 350px
	position relative
	overflow hidden
	
	@media (max-width:500px){
		height 175px
	}
	
.slideobject
	height 100%
	width 100%
	position absolute
	transition margin-left .5s
	background-size cover
	background-repeat no-repeat
	background-position center center
	
$quote = '"'
for num in 0 1 2
	.slide[data-index={$quote}{num}{$quote}]
		.slideobject
			margin-left (-100% * num)


.bildtext
	$height = 50px
	z-index 20
	text-align center
	color white
	text-decoration none
	font-size 500%
	text-shadow 0px 0px 150px #000
	top 50%
	position absolute
	line-height $height
	height $height
	margin-top (-0.5 * $height)
	width 100%
	cursor default
	
.slidemarker
	position absolute
	bottom 5px
	width 100%
	height 25px
	z-index 20
	text-align center
	
.plupp
	height $pluppdia
	width $pluppdia
	border-radius $pluppdia
	display inline-block
	margin-left 3px
	margin-right 3px
	background-color rgba(255, 255, 255, 0)
	
	border 1px
	border-style solid
	border-color white
	display inline-block

.plupp0
	background-color white
	
.arrow
	box-sizing border-box
	width 75px
	height 187.5px
	bg-image arrow
	top calc(50% - 93.75px)
	z-index 50
	position absolute
	padding 25px
	background-origin content-box
	transition all 0.17s
	border-radius 0 100% 100% 0
	
	&:hover
		cursor pointer
		background-color rgba(0, 0, 0, 0.5)
		
.arrowr
	right 0px
	transform: scaleX(-1)
	
.box
	width 33%
	height 0px
	padding-top 22%
	margin 0.25% 0px 0px 0.25%
	display inline-block
	background-size cover
	background-position center
	vertical-align top
	background-size 100%
	transition all 0.15s
	background-size cover
	position relative
	box-sizing border-box
	
	&:hover
		background-size 105%
		cursor pointer
	
	@media (max-width:500px){
		width 49.75%
		padding-top (49.75*2/3)%
	}
	
.logga
	bg-image logga
	height 40px
	width 40px
	position relative
	left 0px
	top 5px
	display inline-block
	z-index 20
	
	@media (max-width:500px){
		left calc(50% - 20px)
	}
	
.vrotxt
	position relative
	left 0px
	font-family 'BebasNeue', Helvetica, sans-serif
	font-weight 800
	font-size 230%
	display inline-block
	bottom 2px
	z-index 20
	
	@media (max-width:500px){
		display none
	}
	
.log
	background-color black
	height 35px
	width 95px
	box-shadow 0px 0px 5px 0px rgba(0,0,0,0.5)
	z-index 20
	
	float right
	top 7px
	position relative
	text-align center
	display inline-block
	
	@media (max-width:500px){
		width 80px
		height 70%
		top 15%
		
		text-align left
	}
	
	
.logtxt
	font-title()
	font-size 150%
	color white
	vertical-align middle
	line-height 37px 
	
	@media (max-width:500px){
		line-height 37px
		margin-left 5px
	}
	

.box.menu
	background-color #f7e8d2
		
	.container
		square 100%
		absolute top 0px left 0px
		font-default()
		bg-image foodbox
			
		.mat
			text-align center
			line-height 110%
			font-family Sans-serif
			margin 1%

			@media (min-width:500px){
				margin 5%
			}
		.reg
			top 0px
			color #181313
			background-color #f1eee8
		.veg
			position absolute
			bottom 0px
			color #f2eee6
			background-color #88a354
			
.link
	font-title()
	font-size 170%
	margin-left 40px
	line-height $headerheight
	display inline-block
	
	&:first-child
		margin-left 0px
	
.links
	margin 0 auto
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -50%;
	width: 100%;
	text-align: center;
	
	@media (max-width:500px){
		display none
	}
			
//mat
			
.mathead
	bg-image matsedelbild
	
.headertextmat
	@media (max-width:500px){
		color #eba44d
	}
	
.line
	display none
	width 93%
	height 1px
	background-color grey
	margin 0% 3.5% 0% 3.5%
	
	@media (max-width:500px){
		display block
	}		
		
.kleins
	bg-image kleins
	margin-left 10px
	bottom 0px
	height 70px
	width 70px
	opacity 0.5
	transition all 0.3s
	
	
	&:hover
		opacity 0.7
		
	@media (max-width:500px){
		display none
	}

			
.day
	width 100%
	padding 15px 0px 15px 0px
	
	.veckodag
		text-align center
		color grey
		font-size 200%
		
	.meny
		text-align center
		color grey
		margin 5px 2px 0px 2px
.kott
	width 18px
	height 18px
	display inline-block
	
//kåren

.bild
	bg-image karen
	width 80%
	padding-top 80%
	border-radius 50%
	margin 0 auto
	
	@media (max-width:500px){
		width 95%
		padding-top 95%
	}
	
.karruta
	width calc(100% / 3)
	display inline-block
	border-radius 5%
	
	&:hover
		background-color #f2f2f2
		
	@media (max-width:500px){
		width 50%
	}
	
.karbild
	text-align center
	margin 5px
	font-size 150%
	
.karheader
	bg-image odenplan jpg
	background-size cover
	
.kartext
	font-size 550%
	
.mainkar
	width 90%
	margin 5%
	text-align center
	
	@media (max-width:500px){
		width 100%
		margin 1%
	}
	
//Utskott

.utskottheader
	bg-image utskott
	background-size cover
	
.utskottheadtext
	@media (max-width:500px){
		color black
	}
	
.utskottfield
	text-align center
	margin-top 15px
	margin-bottom 15px
	
	@media (max-width:500px){
		margin-top 2px
		margin-bottom 2px
	}
	
.utskottruta
	width 220px
	border-radius 5px
	margin 15px
	display inline-block
	cursor pointer
	
	@media (max-width:500px){
		margin calc(4% / 6)
		width 48%
	}
	
	.utskotttop
		background-color #ff3030
		width 80%
		padding 10%
		border-radius 5px 5px 0px 0px
		transition all 0.1s

		.utskottbild
			width 90%
			padding-top 90%
			margin 5%
			
			background-repeat no-repeat
			background-size contain
			background-position center center
			
	&:hover .utskotttop
		width 85%
		padding 7.5%
		
		
	.utskotttext
		text-align center
		font-size 150%
		color white
		
		@media (max-width:400px){
		font-size 120%
	}
	