// index.styl
// VRO Web

@import variables

// ----------------------------------------------	

body 
	background-color $grey
	
	@media (max-width:500px){
		background-color white
		height 100%
	}

.main-content
	max-width 1040px
	top $headerheight
	margin-top 0px
	border-radius 0px
	overflow hidden
	padding 0px
	box-shadow 0px 0px 40px -16px rgba(0,0,0,0.8)
	border none
	
	@media (max-width:500px){
		box-shadow none
		min-height calc(100% - 50px)
		background-color white
	}
	

body > .topheader
	width 100%
	height $headerheight
	position fixed
	z-index 100
	background #fff
	top 0px
	left 0px
	box-shadow 0px 0px 5px alpha(#000, 20%)
	
	transition all 0.2s
	
	@media (max-width:500px){
		box-shadow none
	}
	
.darkheader
	@media (max-width:500px){
		box-shadow 0px 0px 5px alpha(#000, 30%) !important
	}
	
.mainheader
	@media (max-width:500px){
		background none
	}
	
.center-header
	top 0px
	width 100%
	max-width 1040px
	height 100%
	margin auto

.header
	background-size cover !important
	position relative
	
.headertext
	text-decoration none
	color white
	text-align center
	width 100%
	font-size 500%
	cursor default
	
	padding-top 50px
	padding-bottom 50px
	
	@media (max-width:500px){
		padding-top 10px
		padding-bottom 10px
		line-height: 100%
		font-size 17vw
	}
	
.shineheader
	width 100%
	height 100%
	background: linear-gradient(rgba(255,255,255,0.2), rgba(255,0,0,0))
	position absolute
	top 0px
	left 0px
	
.slide
	width 100%
	height 350px
	position relative
	overflow hidden
	transition-timing-function ease-out
	
	@media (max-width:500px){
		height 175px
	}
	
.slideobject
	height 100%
	width 100%
	position absolute
	transition margin-left .5s
	background-size cover
	background-repeat no-repeat
	background-position center center
	
$quote = '"'
for num in 0 1 2
	.slide[data-index={$quote}{num}{$quote}]
		.slideobject
			margin-left (-100% * num)


.bildtext
	$height = 50px
	z-index 20
	text-align center
	color white
	text-decoration none
	font-size 500%
	text-shadow 0px 0px 150px #000
	top 50%
	position absolute
	line-height $height
	height $height
	margin-top (-0.5 * $height)
	width 100%
	cursor default
	
.slidemarker
	position absolute
	bottom 5px
	width 100%
	height 25px
	z-index 20
	text-align center
	
.plupp
	height $pluppdia
	width $pluppdia
	border-radius $pluppdia
	display inline-block
	margin-left 3px
	margin-right 3px
	background-color rgba(255, 255, 255, 0)
	
	border 1px
	border-style solid
	border-color white
	display inline-block

.plupp0
	background-color white
	
.arrow
	box-sizing border-box
	width 75px
	height 187.5px
	bg-image arrow
	top calc(50% - 93.75px)
	z-index 40
	position absolute
	padding 25px
	background-origin content-box
	transition all 0.17s
	border-radius 0 100% 100% 0
	
	&:hover
		cursor pointer
		background-color rgba(0, 0, 0, 0.5)
		
	@media (max-width:500px){
		background-color rgba(0, 0, 0, 0) !important
		padding 55px 20px 55px 5px
	}
		
.arrowr
	right 0px
	transform: scaleX(-1)
	
.logga
	bg-image logga
	height 40px
	width 40px
	position relative
	left 0px
	top 5px
	display inline-block
	z-index 20
	margin-left 2px
	
	@media (max-width:500px){
		left calc(50% - 20px - 50px)
		top -5px
	}
	
.vrotxt
	position relative
	left 0px
	font-family 'BebasNeue', Helvetica, sans-serif
	font-weight 800
	font-size 230%
	display inline-block
	color black
	bottom 2px
	z-index 20
	
	@media (max-width:500px){
		display none
	}
	
.log
	background-color black
	height 35px
	width 95px
	box-shadow 0px 0px 5px 0px rgba(0,0,0,0.5)
	z-index 20
	
	float right
	top 7px
	position relative
	text-align center
	display inline-block
	
	@media (max-width:500px){
		width 80px
		height 70%
		top 15%
		
		text-align left
	}
	
	
.logtxt
	font-title()
	font-size 150%
	color white
	vertical-align middle
	line-height 37px 
	
	@media (max-width:500px){
		line-height 37px
		margin-left 5px
	}
	
.menubutton
	@media (max-width:500px){
		bg-image menu
		height 20px
		width 20px
		margin 15px
		display inline-block
		transition all 0.2s  ease-in-out
	}
	
.box
	width 24%
	height 0px
	padding-top 25%
	margin calc(4%/5) 0px 0px calc(4%/5)
	display inline-block
	background-size cover
	background-position center
	vertical-align top
	background-size 100%
	transition all .1s ease-in
	background-size cover
	position relative
	box-sizing border-box
	border-radius 3%
	
	&:hover
		background-size 105%
		box-shadow 0px 0px 5px rgba(0, 0, 0, 0.7)
		cursor pointer
		
	@media (max-width:800px){
		width calc(96.8% / 3)
		padding-top calc(96.8% / 3)
	}
	
	@media (max-width:500px){
		width 48.8%
		padding-top 48.8%
	}

.box.menu
	bg-image foodbox
	background-position center
	background-size cover
	
	&:hover
		background-size 105%
		
.container
	square 100%
	absolute top 0px left 0px
	font-default()
		
.mat
	text-align center
	line-height 110%
	font-family Sans-serif
	margin 7%
	font-size 110%
	

	@media (max-width:500px){
		margin 5px
	}
	
	@media (max-width:880px){
		font-size 100%
	}
	
	@media (max-width:400px){
		font-size 4vw
	}
	
.reg
	top 0px
	color #181313
	
.veg
	position absolute
	bottom 0px
	color #f2eee6
			
.link
	font-title()
	font-size 170%
	margin-left 10px
	line-height $headerheight
	display inline-block !important
	vertical-align top
	padding 0px 10px 0px 10px
	transition: all 0.1s ease-out
	
	&:first-child
		margin-left 0px
		
	&:hover
		background-color black
		color white
	
.links
	margin 0 auto
	position absolute
	top 0px
	left 50%
	margin-left -50%
	width 100%
	
	text-align center
	
	@media (max-width:500px){
		display none
	}
	
div.link
	overflow hidden
	max-height $headerheight
	padding 0px
	cursor pointer
	
	&:hover
		background-color black
		max-height 200px
		box-shadow 5px alpha(#000, 30%)
		
.sublink
	display block
	padding 0px 10px 0px 10px
	color white
	background-color black
	transition: all 0.2s ease-out
	text-align center
	
	&:hover
		background-color darken(white, 80)
		box-shadow 5px alpha(#000, 30%)
	
			
//mat
	
.headertextmat
	background-color #d69545
	@media (max-width:500px){
		color #eba44d
	}
		
.kleins
	bg-image kleins
	margin-left 10px
	bottom 0px
	height 70px
	width 70px
	opacity 0.5
	transition all 0.3s
	
	
	&:hover
		opacity 0.7
		
	@media (max-width:500px){
		display none
	}

			
.day
	width 100%
	padding 15px 0px 15px 0px
	
	@media (max-width:500px){
		padding 5px 0px 5px 0px
	}
	
	.veckodag
		text-align center
		color grey
		font-size 200%
		
		@media (max-width:500px){
			font-size 150%
		}
		
	.meny
		text-align center
		color grey
		margin 5px 2px 0px 2px
		
	.huvudratt
		margin 2px 2px 0px 2px
.kott
	width 18px
	height 18px
	display inline-block
	
.today
	background-color #f3eadb
	color black !important
	
//kåren

.bild
	bg-image karen
	width 80%
	padding-top 80%
	border-radius 50%
	margin 0 auto
	
	@media (max-width:500px){
		width 95%
		padding-top 95%
	}
	
.karruta
	width calc(100% / 3)
	display inline-block
	border-radius 5%
	
	&:hover
		background-color #f2f2f2
		
	@media (max-width:500px){
		width 50%
	}
	
.karbild
	text-align center
	margin 5px
	font-size 150%
	
.karheader
	bg-image odenplan jpg
	background-size cover
	
.kartext
	font-size 550%
	
.mainkar
	width 90%
	margin 5%
	text-align center
	
	@media (max-width:500px){
		width 100%
		margin 1%
	}
	
//Utskott

.utskottheader
	background-color #222222
	
	.shineheader
		background: linear-gradient(rgba(255,255,255,0.1), rgba(255,0,0,0))
		
		@media (max-width:500px){
			display none
		}
	
.utskottheadtext
	
.utskottfield
	text-align center
	
	@media (max-width:500px){
		line-height 90%
	}
	
.utskottruta
	width 220px
	border-radius 5px
	margin 15px
	display inline-block
	cursor pointer
	position relative
	
	@media (max-width:500px){
		margin calc(4% / 6)
		width 48%
	}
	
	.utskotttop
		background-color #ff3030
		width 80%
		padding 10%
		border-radius 5px 5px 0px 0px
		transition all 0.1s

		.utskottbild
			width 90%
			padding-top 90%
			margin 5%
			
			background-repeat no-repeat
			background-size contain
			background-position center center
			
	&:hover .utskotttop
		width 85%
		padding 7.5%
		
		
	.utskotttext
		text-align center
		font-size 150%
		color white
		
		@media (max-width:500px){
			padding 8px 0px 8px 0px
		}
		
		@media (max-width:400px){
			font-size 120%
		}
	
.shine
	width 100%
	height 100%
	background: linear-gradient(rgba(255,255,255,0.2), rgba(255,0,0,0))
	position absolute
	top 0px
	left 0px

//phonemenu

.phonelinks
	transition all .2s ease-in-out
	top 0px
	position fixed
	text-align center
	z-index 90
	background-color #eaeaea
	width 100%
	height $headerheight
	&.visible
		top $headerheight
	
.p-link
	padding 0px
	margin 0px
	width calc(100% / 3)
	
div.p-link
	&:hover
		background-color #696969
	
.p-sublink
	@media (max-width:370px){
		padding 0px
		text-align center
		font-size 90%
	}
	
	background-color #696969
	
.whitelinks
	.p-link
		color white
		
		&:hover
			color black
			background-color white
			
			.p-sublink
				color black
				background-color white	
				
				&:hover
					background-color grey
					
	
.mainhide
	width 100%
	top $headerheight
	height calc(100% - 50px)
	position fixed
	background-color black
	opacity 0
	z-index 50
	display none
	transition opacity .2s ease-in-out
	
//ett utskott
.utskottbildbottom
	width 200px
	height 200px
	display inline-block
	background-size contain
	margin-bottom 20px
	
.utskottrubrik
	text-align center
	
	&:first-child
	
		@media (max-width:500px){
			margin-top 5px !important
		}
	
.loggacenter
	text-align center
	background-color white
	
.utskotttextfalt
	display inline-block
	margin-bottom 50px
	width 100%
	
	@media (max-width:500px){
		margin-bottom 30px
	}

	.utskottrubrik
		font-size 150%
		margin-bottom 20px
		margin-top 40px
		
		@media (max-width:500px){
		margin 10px
		margin-top 30px
		color #2b2b2b
		}
		
	.arbeterubrik
		@media (max-width:500px){
		margin 10px
		}
		
		
	.utskottinfo
		text-align left
		max-width 500px
		display inline-block
		
		@media (max-width:500px){
			margin 10px
		}
		
.extrashine
	background: linear-gradient(rgba(255,255,255,0.2), rgba(255,0,0,0)) !important
	
.center
	text-align center
		
//credit

.creddiv
	/*border-style solid
	border-width 1px 0px 0px 0px
	border-color #909090*/
	margin-top 5px
	background-color #f8f8f8
	transition bottom 0.2s ease-in-out
	width 100%
	
	@media (max-width:500px){
		position fixed
		background-color transparent
		bottom -50px
		z-index 50
	}
	
	.shine
		width 100%
		height 19px
		background: linear-gradient(rgba(0,0,0,.03), rgba(255,0,0,0))
		position absolute
		top calc(100% - 19px)
		left 0px
	
	.credits
		font-size 80%
		text-align center
		font-family Arial
		padding 2px 0px 2px 0px
		
		@media (max-width:500px){
			color rgba(255, 255, 255, 0.75)
		}
		
//kommitte
.kommitteruta
	height calc(28/48*220px)
	
	@media (max-width:520px){
		height 0px
		padding-top 28%
	}
	
	&:hover
		.kommittetext
			font-size 132%
			
	
	.kommittetext
		top calc(50% - 20px)
		position absolute
		text-align center
		width 100%
		height 40px
		color white
		line-height 40px
		font-size 130%
		transition all 0.2s ease-in-out
		
		@media (max-width:350px){
			font-size 110%
		}
		
	.kommittehover
		width 100%
		height 100%
		position absolute
		top 0px
		left 0px
		z-index 20
		transition all 0.2s ease-in-out
		
		&:hover
			background-color rgba(255, 255, 255, 0.07)
			
//kommittesida
.kommittefalt
	margin 0px
	text-align center
.kommittelink
	margin-bottom 20px
	margin-top 20px
	position relative
	
	@media (max-width:500px){
		bottom 0px
		position absolute
		width 100%
		margin 0px
	}
	
	&:hover
		cursor pointer
	
	.shine
		background linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0))
		
		&:hover
			cursor pointer
			
		@media (max-width:500px){
			display none
		}

	.kommittelinktext
		width auto
		text-align left
		display inline-block
		padding 5px
		border-radius 5px
		color white
		
		&:hover
			cursor pointer
			
		@media (max-width:500px){
			width 100%
			text-align center
			padding-left 0px
			padding-right 0px
			border-radius 0px
		}
		
.utskottrubrik.ordfarande
	color black
	margin-top 30px
	margin-bottom 40px
	font-size 100%
	font-weight normal
	
	@media (max-width:500px){
		margin 0px
		margin-top 10px
		margin-bottom 10px
	}
	
//styrelsen

.styrelsenrubrik
	margin-top 20px
	margin-bottom 10px
	color #484848
	
.styrelseninfo
	text-align center