// index.styl
// VRO Web

@import variables

// ----------------------------------------------	

.main-content
	// -
		
[data-page="main"]
	.main-content
		background lighten(blue, 50%)
		
	h1
		text-align center
		
	.faq
		text-align left
		width calc((100% - 20px) / 2)
		display inline-block
		position bottom	
		
	.log-out
		text-align right
		width calc((100% - 20px) / 2)
		display inline-block 
		position bottom
	
	.catch
		text-align center
		width calc((100%-20px) / 2)
		display inline-block
		
	.die	
		text-align center
		width calc((100%-20px) / 2)
		display inline-block


[data-page="faq"]
	.main-content
		background green
	
	h1
		text-align center
		
	a
		text-align center
		width 100%
		display inline-block 
		

	.bold
		font-weight bold
	
