// index.styl
// VRO Web

@import variables

// ----------------------------------------------	

body 
    background-color $grey

.main-content
	// -
		
[data-page="main"]
	.main-content
		
	h1
		text-align center
		color $red
		font-size 175%
		
	.faq
		text-align left
		width calc((100% - 20px) / 2)
		display inline-block
		position bottom	
		
	.log-out
		text-align right
		width calc((100% - 20px) / 2)
		display inline-block 
		position bottom
	
	.catch
		text-align center
		width calc((100%-20px) / 2)
		display inline-block
		
	.die	
		text-align center
		width calc((100%-20px) / 2)
		display inline-block
	
	.ca, .di
		display inline-block


[data-page="faq"]
	.main-content
		background white

	h1
		text-align center
		color $green
		font-size 175%
		
	a
		text-align center
		width 100%
		display inline-block 
		

	.bold
		font-weight bold
		
	ul.a
		list-style-type circle
	
	.log-out
		display inline-block 
	
	.main
		display inline-block 
		
[data-page="login"]
	h1
		font-title()
		text-decoration underline
		
// [data-page="catch"]
// 	.main-content


[data-page="catch-success"]	
	.main
		display inline-block 

//[data-page="die"]
