// base.styl
// VRO Web

@import base

// ----------------------------------------------


.bold
	font-weight bold
	
[data-page="main"]
	.main-content
		background $red
		padding 0px
		height 110px
		width 400px
		
		
		
	.faq
		text-align center
		position relative
		top 50px
		background $red
		width calc((78.8%) / 2)
		height 20px	
		padding 20px
		
	.faq:hover
		background $darkred
		height 25px
		a
			font-size 120%
		

	
	.log-out
		text-align center
		position relative
		top 50px
		width calc((78.9%) / 2)
		background $red
		height 20px
		padding 20px
		
		
	.log-out:hover
		background $darkred
		height 25px
		a
			font-size 120%
		
	
	p
		text-align center
		position relative
		top 10px
		color black
		font-size 130%
		background $red
		
		
		
		

h1
	font-title()
	color white
	text-decoration underline
	
	
	

