// base.styl
// VRO Web

@import base

// ----------------------------------------------


.bold
	font-weight bold
	
[data-page="main"]
	.main-content
		background #ededed
		border-radius 10px
		height 345px
		
	$bottomButtonSpacing = 3px
	.faq, .log-out
		text-align center
		position fixed
		bottom 0px
		background $grey
		width ($std_page_width / 2 - $bottomButtonSpacing / 2)
		height 20px
		padding 20px 0px
		$top = 10px
		border-top-left-radius $top
		border-top-right-radius $top
		-webkit-transition 0.2s
		transition 0.2s
		a
			-webkit-transition 0.2s
			transition 0.2s
		
		&:hover
			background $blue
			height 25px
			cursor pointer
			color white
			a
				font-size 120%
		
	.faq
		margin-left ($std_page_width / 2 + $bottomButtonSpacing / 2)
		
		&:hover
			background $green
		
			
	.catch
		text-align center
		position relative
		top 30px
		background $grey
		width 150px
		height 150px
		bg-image happy
		border-radius 100px
		-webkit-transition 0.2s
		transition 0.2s
		border-style solid
		border-color $grey
		border-width 20px

		
		&:hover
			bg-image darkhappy
			background-size 160px
			cursor pointer
			
		
    	
		
		
	.die
		text-align center
		position relative
		top 30px
		background $grey
		width 150px
		height 150px	
		bg-image dead
		border-radius 100px
		transition all 0.2s
		border-style solid
		border-color $grey
		border-width 20px
		&:hover
			bg-image darkdead
			background-size 160px
			cursor pointer
			
	p
		text-align center
		position relative
		top 10px
		color black
		font-size 130%
		
	.ca, .di
		text-align center
		position relative
		top 0px
		font-size 90%
		padding 0px 50px
		
		
		
		
		

h1
	font-title()
	text-decoration underline
	
h2
	font-regular()
	
[data-page="faq"]
	.main-content
		border-radius 10px
		padding 30px

		


	.bold
		color $green
				
	$bottomButtonSpacing = 3px
	.main, .log-out
		text-align center
		position fixed
		bottom 0px
		background $grey
		color $green
		width ($std_page_width / 2 - $bottomButtonSpacing / 2)
		height 20px
		margin-left -30px
		padding 20px 0px
		$top = 10px
		border-top-left-radius $top
		border-top-right-radius $top
		-webkit-transition 0.2s
		transition 0.2s
		a
			-webkit-transition 0.2s
			transition 0.2s
		
		&:hover
			background $blue
			color white
			height 25px
			cursor pointer
			box-shadow 0px -3px 0px white
			a
				font-size 120%
		
	.main
		margin-left ($std_page_width / 2 + $bottomButtonSpacing / 2 - 30px)
		&:hover
			background $red
			
		
		
	.mask
		bg-image main-content-inverted-corner-mask 'svg?v=4'
		position fixed
		bottom 0px
		left 50%
		width $std_page_width
		height 73px
		background-size 100%
		margin-left ($std_page_width / -2)
		
[data-page="login"]
	.main-content
		border-radius 10px
		padding 30px
		background $blue
		height 150px
	h1
		font-title()
		text-decoration underline
		color white
		text-align center
 		
 	.log
 		text-align center
		position relative
		top 250px
		background $blue
		width calc((100%) / 2)
		height 150px
		border-radius 10px
		transition 0.2s
		&:hover
			background $darkblue
			cursor pointer
		
	
	

	
	

