// base.styl
// VRO Web

@import base

// ----------------------------------------------


.bold
	font-weight bold
	
[data-page="main"]
	.main-content
		background $red
		height 110px
		border-radius 10px
		
	$bottomButtonSpacing = 3px
	.faq, .log-out
		text-align center
		position fixed
		bottom 0px
		background $red
		width ($std_page_width / 2 - $bottomButtonSpacing / 2)
		height 20px
		padding 20px 0px
		$top = 10px
		border-top-left-radius $top
		border-top-right-radius $top
		
		&:hover
			background $darkred
			height 25px
			a
				font-size 120%
		
	.faq
		margin-left ($std_page_width / 2 + $bottomButtonSpacing / 2)
			
	.catch
		text-align center
		position relative
		top 50px
		background $red
		width calc((78.9%) / 2)
		height 150px
		bg-image happy
		-webkit-border-radius 10px 10px 0px 0px
		-moz-border-radius 10px 10px 0px 0px
		border-radius 10px 10px 0px 0px
		
    	
		
		
	.die
		text-align center
		position relative
		top 50px
		background $red
		width calc((78.9%) / 2)
		height 150px	
		bg-image dead
		-webkit-border-radius 10px 10px 0px 0px
		-moz-border-radius 10px 10px 0px 0px
		border-radius 10px 10px 0px 0px
	
	p
		text-align center
		position relative
		top 10px
		color black
		font-size 130%
		background $red
		
		
		
		

h1
	font-title()
	color white
	text-decoration underline
	

	
	

