// index.styl
// VRO Web
// Initially created by Leonard Pauli, sep 2016

@import variables

// ----------------------------------------------

body
	background-color #asd

.button
	width (100% / 3)
	display inline-block
	text-align center
	box-sizing border-box
	
.fish
	background-color red
	font-family serif
	font-size 14px
	
.sill
	opacity 0

.torsk
	opacity 0

.abborre
	opacity 0
.icansee
	opacity 1
	text-align center	
	
	
.header
	bg-image(IMG_0816, jpg)
	background-size cover
	background-position-x 0em
	transition background-position-y 1s
	overflow hidden
	margin-bottom 5em
	
.header:hover
	background-position-y -18.7em