.card-container
	max-width 1040px
	margin .5%

.card
	width 24%
	margin calc(4%/8)
	background-color white
	border-radius 0px
	transition all 0.2s
	display inline-block
	position relative
	transition: box-shadow 0.4s, transform 0.4s
	box-shadow: 0px 0px 0px rgba(0,0,0,0.0);

	@media (max-width:500px){
		margin .5%
		width 49%
	}
	
	&.template
		display none
		
	&:hover
		box-shadow 0px 0px 5px rgba(0, 0, 0, 0.3)
		box-shadow 0px 7px 36px rgba(0,0,0,0.2);
		z-index 10
		transform translateY(-3px)
		
		.image
			background-color transparent
	
	.image
		width 100%
		padding-top 100%
		background-size cover 
		background-repeat no-repeat
		background-position center center
		transition all .4s
		
		background-color: rgba(0, 0, 0, 0.1);
		
		@media (max-width:500px){
			width 100%
			padding-top 100%
			margin 0
		}
		
	.info
		margin 8px
		
		.content	
			.title
				font-family CenturyGothic
				color #292929
				font-weight bold
				font-size 120%
				height 50px
				overflow hidden
				cursor pointer
				
				@media (max-width:500px){
					font-size 4vw
					height 10vw
				}
				
				&:hover
					text-decoration underline
			
			.text
				display none
			
			.remove
				display none
				
$menu-header-height = 40px

.card.menu
	padding-top calc(24% + 66px)
	//bg-image foodbox
	background-position center
	background-size cover
	display inline-block
	position relative
	vertical-align top
	
	@media (max-width:500px){
		padding-top calc(48% + 15vw)
		transform scale(1)
	}
	
	&:hover
		transform translateY(-3px)
		
	a
		position absolute
		top 0px
		height 100%
		width 100%
		overflow hidden
		cursor default

		.date
			width 94%
			padding 3%
			height $menu-header-height
			
			@media (max-width:500px){
				height 15%
			}
			
			.currentdate
				color white
				font-size 180%
				
				@media (max-width:500px){
					font-size 8vw
				}
			
			.weekday
				float left
			
			.monthday
				float right
		.line
			height 1px
			width 94%
			margin 0 3% 0 3%
			background-color rgba(white, .7)
			
						
		.container	
			height "calc(100% - %s - 6%)" % $menu-header-height
			width 100%
			position absolute
			
			@media (max-width:500px){
				height calc(100% - 15% - 6%)
			}
			
			.shine
				display none
				@media (max-width:500px){
					display block
				}
			
			.content
				position absolute

				.mat
					line-height 110%
					font-family Sans-serif
					padding 7%
					font-size 110%
					color white
					

					@media (max-width:500px){
						margin 5px
					}
					
					@media (max-width:880px){
						font-size 100%
					}
					
					@media (max-width:500px){
						font-size 4vw
						padding 3%
					}
				.vegcontainer
					margin-top 20px
					
					.vegoverlay
						height 500px
						background-color rgba(white, .2)
						
						position absolute
						width 100%
					
					.vegsymbol 
						background-color rgba(white, .2)
						bg-image leaf
						background-position center
						background-size 60%
						border-radius 50%
						height 45px
						width 45px
						position absolute
						height
						top 0px
						left 50%
						transform translate(-50%, -50%)
						
						@media (max-width:500px){
							width 10vw
							height 10vw
						}
					
					.veg
						padding-top 30px
						
		

.overlay
	display none
	
.close
	display none
	
.lightbox-visible
	overflow hidden
			
	.overlay
		width 100%
		height 100%
		background-color rgba(0,0,0,0.75)
		position fixed
		display block
		z-index 100
		
		@media (max-width:500px){
			z-index 30
		}
		
	.lightbox > .item
		width 100%
		max-width 1025px
		text-align center
		position fixed
		background-color white
		z-index 10
		top 50%
		left 50%
		transform translate(-50%,-50%)
		padding 50px
		display inline-block
				
		@media (max-width:500px){
			top $headerheight
			transform translate(-50%,0)
			padding 20px 0px 20px 0px
			width 96%
			margin-top 2%
			max-height calc(100vh - 50px - 115px - 2%)
			border-radius 2px
		}
		
		& > .content
			
			@media (max-width:500px){
				max-height calc(100vh - 50px - 115px)
				overflow scroll
			}
		
			.image
				width 40vw
				height 40vw
				max-width 500px
				max-height 500px
				background-size cover
				display inline-block
				margin 0
				vertical-align top
				background-position center
				
				@media(max-width: 500px){
					width 90%
					height 0
					padding-top 90%
					margin 0% 5% 0% 5%
				}
			
			.info
				box-sizing border-box
				display inline-block
				width 50vw
				max-width 500px
				margin-left 25px
				padding-top 0px
				height 100%
				display inline-block
				
				@media(max-width: 500px){
					width 90%
					margin 5% 5% 0% 5%
					padding 0
				}
					
				.content
					position relative !important
					
					.add-choice
						margin 0 auto
						margin-top 15px
						display block
										
					.title
						font-family BebasNeue
						font-size 5vw
						width calc(100% - 18px)
						margin-bottom 10px
						color #4a4a4a
						text-align left
						font-weight 600
						width 100%
						
						@media (min-width:1024px){
							font-size 300%
						}
						
						@media(max-width: 500px){
							font-size 10vw
						}
						
					.text
						text-align left
						font-size 1.7vw
						display block
						
						@media (min-width:1024px){
							font-size 100%
						}
						
						@media(max-width: 500px){
							font-size 4vw
						}
					.remove
						display inline-block
						margin 15px
			
		.close
			display block
			position absolute
			bottom -80px
			text-align center
			background-color rgba(255,255,255,.2) 
			left 50%
			transform translate(-50%,0%) rotate(45deg)
			width 50px
			height 50px
			border-radius 50%
			transition all .2s
			
			@media(max-width: 500px){
				bottom -65px
			}
			
			&:hover
				background-color rgba(255,255,255,.3)
				box-shadow 0px 0px 1px 0px rgba(white,.75)
				cursor default
				
				.cross
					font-size 301%
			
			.cross
				color white
				position absolute
				top 50%
				left 50%
				transform translate(-50%,-50%)
				font-size 300%

/*[contenteditable=true]:empty:before {
	content attr(placeholder)
	display block
}*/
		
.add-card
	vertical-align top
	.plus
		display none
	label.add-image
		display block
		max-width 499px !important
	.image
		bg-image plus
		background-size 80%
		bottom 0px
	.image-view
		display none !important
	.info
		.content
			.text-input
				border-style solid
				border-width 1px
				border-color rgba(0, 0, 0, 0.2)
				
				width 100%
			// .choice
			// .chooseSlide
			// .publish
				
.add-card-hidden
	position fixed
	bottom 24px
	right 24px
	height 56px
	width 56px
	border-radius 50%
	background-color #1f1f1f /*#4b82a7 #ececec*/
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	cursor pointer
	display none
	transition all .2s
	z-index 20
	
	&:hover
		transform translateY(-.7px)
		box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 2px 6px 0 rgba(0,0,0,0.12), 0 4px 2px -3px rgba(0,0,0,0.2);
	
	.plus
		color white/*#4a4a4a*/
		font-size 250%
		display block
		position absolute
		width 100%
		height 100%
		text-align center
		line-height 56px
	label.add-image
		display none
	.image-view
		display block !important
	.info
		.content
			display none