.sort-options
	text-align center
	padding 0
	background-color white
	
	.option
		display inline-block
		width calc(50% - 5px * 2)
		padding 10px 5px
		background-color rgba($vrocolor,.4)
		cursor pointer
		border 0
		color rgba($vrocolor,.7)
	
	.selected
		background-color rgba($vrocolor,.2)
		color rgba($vrocolor,.7)
			
		
			
.card-container
	position relative
	text-align left
	width 99.8% !important
	margin .1%
	
	@media (max-width:1040px)
		width 99.6% !important
		margin .2%
	
	@media (max-width:500px)
		width 99.4% !important
		margin .3%

.card:not(.item)
	width 24.8%
	padding-top 20%
	height 0
	background-color white
	border-radius 0px
	display inline-block
	position relative
	transition all 0.4s
	box-sizing border-box
	vertical-align bottom
	overflow hidden
	box-shadow 0px 0px 30px rgba(0,0,0,0.1)
	cursor pointer
	margin .1%
	
	&:hover
		@media (min-width:500px){
			box-shadow 0px 0px 40px rgba(0,0,0,0.3)
			z-index 10
			transform scale(1.02)
			border-color transparent
		}
	
	@media (max-width:1040px){
		width calc(100% / 3 - .4%)
		padding-top calc(25%)
		margin .2%
	}

	@media (max-width:500px){
		width 49.4%
		padding-top 49.4%
		margin .3%
		box-shadow 0 0 0 rgba(0,0,0,0)
		background-color rgba($vrocolor, .1)
	}
	
	&.template
		display none
	
	.close
		display none

	.content
		position absolute
		bottom 0
		width 100%
		height 100%
		display flex
		flex-direction column
		overflow hidden
	
		.image
			flex-grow 1
			width 100%
			background-size cover 
			background-repeat no-repeat
			background-position center center
			transition all .4s
			filter: brightness(.8)
			
			@media (max-width:500px){
				width 100%
				height 100%
				margin 0
			}
			
		.info
			padding 8px
			box-sizing border-box
			width 100%
			position absolute
			top 50%
			left 50%
			transform translate(-50%,-50%)
			
			.text-content
				.title
					font-family BebasNeue
					color white
					font-weight 600
					font-size 3vw
					text-align center
					line-height 100%
					
					@media (max-width:1040px){
						font-size 4vw
					}
					
					@media (max-width:500px){
						font-size 8vw
					}
				
				.subtitle
					color white
					text-align center
					font-family BebasNeue
					font-size 2vw
					
					@media (max-width:1040px){
						font-size 2.7vw
					}
					
					@media (max-width:500px){
						font-size 5vw
					}

				.text
					display none
					
				.uploadDate
					display none
				
				.remove
					display none
					
				.checkboxdiv 
					display none
					
				.edit
					display none
				
$menu-header-height = 40px

.card.menu
	//bg-image foodbox
	background-position center
	background-size cover
	display inline-block
	position relative
	vertical-align top
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4)
	
	@media (max-width:500px){
		transform scale(1)
	}
		
	a
		position absolute
		top 0px
		height 100%
		width 100%
		overflow hidden
		cursor default
		display flex
		flex-direction column
		
		.datecontainer

			.date
				width 94%
				padding 3%
				height $menu-header-height
				
				@media (max-width:500px){
					height 15%
				}
				
				.currentdate
					color white
					font-size 180%
					
					@media (max-width:500px){
						font-size 7vw
					}
				
				.weekday
					float left
				
				.monthday
					float right
			.line
				height 1px
				width 94%
				margin 0 3% 0 3%
				background-color rgba(white, .7)
					
		.container	
			flex-grow 1
			width 100%
			position relative
			
			.content
				position absolute
				display flex
				flex-direction column

				.mat
					line-height 110%
					font-family Sans-serif
					padding 7%
					font-size 110%
					color white
					

					@media (max-width:500px){
						margin 2px
					}
					
					@media (max-width:880px){
						font-size 100%
					}
					
					@media (max-width:500px){
						font-size 4vw
						padding 3%
					}
				
				/*.reg*/
						
				.vegcontainer
					flex-grow 1
					background-color rgba(white, .2)

					.vegstamp
						text-align right
						margin-bottom 2%
						position absolute
						right 0
						
						background-color rgba(white,.4)
						border-radius 0 0 0 4px
						
						@media(max-width:500px){
							padding-bottom 4px
						}
						
						.text
							padding 0 4px 0 4px
							margin-bottom 2px
							
							display inline-block	
							
							.character
								display inline-block
								
								@media(max-width:500px){
									height .9em
									text-align center
									display block
								}
					.veg
						@media(max-width:500px){
							padding-right 20px
						}

.overlay
	display none
	
.lightbox-visible
	overflow hidden
			
	.overlay
		width 100%
		height 100%
		background-color rgba(0,0,0,0.75)
		position fixed
		display block
		z-index 90
		
		@media (max-width:500px){
			z-index 30
		}
		
	.lightbox > .item
		width 90%
		max-width 1030px
		text-align center
		position fixed
		box-sizing border-box
		background-color white
		z-index 10
		top 50%
		left 50%
		transform translate(-50%,-50%)
		padding 45px
		display inline-block
				
		@media (max-width:500px){
			top $headerheight
			transform translate(-50%,0)
			padding 50px 0px 20px 0px
			width 96%
			margin-top 2%
			height calc(100vh - 50px - 2%)
			border-radius 2px
		}
		
		& > .content
			
			@media (max-width:500px){
				height calc(100vh - 50px - 80px)
				overflow scroll
			}
			
			.uploadDate
				font-weight bold
				text-align left
				font-size 1.7vw
				display block
				opacity .7
				margin-top 5px
				
				@media (min-width:1024px){
					font-size 100%
				}
				
				@media(max-width: 500px){
					font-size 4vw
				}
		
			.image
				width calc(50% - 10px)
				padding-top calc(50% - 10px)
				background-size cover
				display inline-block
				margin 0
				vertical-align top
				background-position center
				
				@media(max-width: 500px){
					width 90%
					padding-top 90%
					margin 0% 5% 0% 5%
				}
			
			.info
				box-sizing border-box
				width calc(50% - 10px)
				padding-top calc(50% - 10px)
				margin-left 20px
				display inline-block
				position relative
				
				@media(max-width: 500px)
					width 90%
					margin 5% 5% 0% 5%
					padding 0
				
				@media(min-width: 500px)
					overflow-y scroll
					overflow-x hidden
					
				.text-content
					position absolute
					top 0
					width 100%					
					
					.add-choice
						margin 0 auto
						margin-top 15px
						display block
										
					.title
						font-family BebasNeue
						font-size 5vw
						width calc(100% - 18px)
						color #4a4a4a
						text-align left
						font-weight 600
						width 100%
						
						@media (min-width:1024px){
							font-size 300%
						}
						
						@media(max-width: 500px){
							font-size 10vw
						}
					
					.subtitle
						font-weight 700
						font-size 150%
						margin-bottom 10px !important
						color #4a4a4a
						text-align left
						
						&:empty
							height 10px
							width 100%
							margin 0
						
					.text
						text-align left
						font-size 1.7vw
						display block
						
						@media (min-width:1024px){
							font-size 100%
						}
						
						@media(max-width: 500px){
							font-size 4vw
						}
						
					.choice
						width 45%
						margin 2.5%
						display inline-block
						
					div.checkboxdiv
						.checkbox
							display inline-block
							height 30px
							width 30px
							relative top 10px left -10px
							
						label.label2
							display inline-block
							flex-grow 1
							line-height 50px
						
					.edit
						display none
			
		.close
			color black
			position absolute
			top -17px
			right 12px
			transform rotate(45deg)
			font-size 450%
			font-weight 100
			font-family BebasNeue
			cursor pointer

/*[contenteditable=true]:empty:before {
	content attr(placeholder)
	display block
}*/
		
.add-card
	vertical-align top
	.plus
		display none
	label.add-image
		display block
		max-width 499px !important
		background-color rgba(0,0,0,.05)
		position relative
		cursor pointer
		
		.imagetext
			position absolute
			top calc(50% + 40px)
			left 50%
			transform translateX(-50%)
			color grey

	.image
		bg-image plus
		background-size 80%
		bottom 0px
	.image-view
		display none !important
	.info
		display inline-flex
		flex-direction column
		position relative
		.text-content
			.textinputs
				.text-input
					background-color rgba(0,0,0,.05)
					width 100%
					padding 5px
					outline none
					
				.text-input:empty:before
					content attr(data-placeholder)
					color gray
					
				.title
					margin-bottom 10px
				.subtitle
					height auto !important
		.options
			//absolute bottom 0px right 0px
			margin-top 20px
			width 100%
			div.checkboxdiv
				padding-left 22px
				.checkbox
					display inline-block
					height 30px
					width 30px
					relative top 10px left -10px
					
				label.label2
					display inline-block
					flex-grow 1
					line-height 50px
			.choice
				width 45% !important
				padding 0 !important
				margin 2.5% !important
				line-height 44px
				
			.publish
				box-sizing border-box
				margin 0px
				margin-left 10px
				
.add-card-hidden
	position fixed
	bottom 24px
	right 24px
	height 56px
	width 56px
	border-radius 50%
	background-color #1f1f1f /*#4b82a7 #ececec*/
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	cursor pointer
	display none
	transition all .2s
	z-index 20
	
	&:hover
		transform translateY(-.7px)
		box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 2px 6px 0 rgba(0,0,0,0.12), 0 4px 2px -3px rgba(0,0,0,0.2);
	
	.plus
		color white/*#4a4a4a*/
		font-size 210%
		display block
		position absolute
		width 100%
		height 100%
		text-align center
		line-height 56px
	label.add-image
		display none
	.image-view
		display block !important
	.info
		display none