.utskottbildbottom
	width 200px
	height 200px
	display inline-block
	background-size contain
	margin-bottom 20px
	
.utskottrubrik
	text-align center
	
	&:first-child
	
		@media (max-width:500px){
			margin-top 5px !important
		}
	
.loggacenter
	text-align center
	
.utskotttextfalt
	display inline-block
	margin-bottom 50px
	width 100%
	
	@media (max-width:500px){
		margin-bottom 20px !important
	}

	.utskottrubrik
		font-size 150%
		margin-bottom 20px
		margin-top 40px
		
		@media (max-width:500px){
		margin 10px
		margin-top 30px
		color #2b2b2b
		}
		
	.arbeterubrik
		@media (max-width:500px){
		margin 10px
		}
		
		
	.utskottinfo
		text-align left
		max-width 500px
		display inline-block
		
		@media (max-width:500px){
			margin 10px
		}
	
.center
	text-align center