body > .topheader
	width 100%
	height $headerheight
	position fixed
	z-index 100
	background #fff
	top 0px
	left 0px
	box-shadow 0px 0px 5px rgba(0,0,0,0.2)
	
	transition all 0.2s
	
	@media (max-width:500px){
		box-shadow none
	}
	
.darkheader
	box-shadow 0px 0px 5px rgba(0,0,0,0.2) !important
	height $headerheight !important
	
	@media (min-width:500px){
		background-color white !important
	}
	
	@media (max-width:500px){
		box-shadow 0px 0px 5px alpha(#000, 30%) !important
	}
	
.mainheader
	@media (max-width:500px){
		background none
	}
	
.center-header
	position absolute
	top 50%
	left 50%
	transform: translate(-50%, -50%)
	width 98%
	max-width calc(1040px * .98)
	
	@media (max-width:1040px){
		width 100%
		box-sizing border-box
		padding 0 5px 0 5px
	}
	
	@media (min-width:500px){
		background-color white !important
	}
	
	@media (max-width:500px){
		height 100%
	}
	


.header
	background-size cover !important
	position relative
	
.headertext
	text-decoration none
	color white
	text-align center
	width 100%
	font-size 500%
	cursor default
	
	padding-top 50px
	padding-bottom 50px
	
	@media (max-width:500px){
		padding-top 10px
		padding-bottom 10px
		line-height: 100%
		font-size 17vw
		font-weight 600
	}
	
.shineheader
	width 100%
	height 100%
	background: linear-gradient(rgba(white,0.2), rgba(0,0,0,0))
	position absolute
	top 0px
	left 0px
	
	@media (max-width:500px){
		display none
	}

	
.logga
	bg-image logga
	height 40px
	width 40px
	position relative
	left 0px
	top 5px
	display inline-block
	z-index 20
	@media (max-width:800px){
		top 2px
	}
	
	@media (max-width:500px){
		left calc(50% - 20px - 50px)
		top -5px
	}
	
.vrotxt
	position relative
	left 0px
	font-family 'BebasNeue', Helvetica, sans-serif
	font-weight 800
	font-size 230%
	display inline-block
	color black
	bottom 2px
	z-index 20
	
	@media (max-width:800px){
		display none
	}
	
.log
	background-color black
	height 35px
	width 95px
	z-index 20
	
	float right
	top 7px
	position relative
	text-align center
	display inline-block
	transition all .2s
	border-radius $default-radius
	cursor pointer
	
	&:hover
		box-shadow 0px 0px 5px 0px rgba(0,0,0,0.5)
		
	@media (max-width:1040px){
		right 5px
	}
	
	@media (max-width:800px){
		top 2px
	}
	
	@media (max-width:500px){
		width 80px
		height 70%
		position absolute
		right 7px
		top 50%
		transform translateY(-50%)
		
		text-align left
	}
	
.logged-in
	absolute top 5px right 0
	border-radius 3px
	cursor pointer
	
	height 40px
	padding-left 8px
	& > .title
		font-weight bold
		line-height 40px
		text-align right
		overflow-x hidden
		display inline-block
		margin-right 5px
		
		@media (max-width:500px){
			font-size 130%
		}
		@media (min-width:500px){
			color black !important
		}

	& > .image
		display inline-block
		background-size cover
		background-repeat no-repeat
		background-position center
		size 30px
		margin 5px
		border-radius 50%
	
	@media (max-width:1040px){
		right 5px
	}
	
	@media (max-width:500px){
		background-color rgba(0,0,0,.075)
	}
	
.logtxt
	font-title()
	font-size 150%
	color white
	vertical-align middle
	line-height 35px 
	text-align center
	cursor default
	
	@media (max-width:500px){
		line-height 37px
	}
	
.menubutton
	@media (max-width:500px){
		bg-image menu
		height 20px
		width 20px
		margin 15px
		display inline-block
		transition all 0.2s  ease-in-out
	}
			
.link
	font-title()
	font-size 170%
	margin-left 10px
	line-height $headerheight
	display inline-block !important
	vertical-align top
	padding 0px 10px 0px 10px
	transition: all 0.1s ease-out
	cursor pointer
	color black
	
	&:first-child
		margin-left 0px
		
	&:hover
		background-color black
		color white
	
	@media windwow and (max-width:800px) and (min-width:500px)
		color black !important


.subtle-link
	&:hover
		background-color transparent
		color black
	
.links
	margin 0 auto
	position absolute
	top 0px
	left 50%
	margin-left -50%
	width 100%
	
	text-align center
	
	@media (max-width:500px){
		display none
	}
	
div.link
	overflow hidden
	max-height ($headerheight - 1px)
	padding 0px
	cursor pointer
	user-select none
	position relative
	
	&:hover
		color white
		background-color black
		max-height 200px
		box-shadow 0 0 5px alpha(#000, 30%)	
	
		.linkArrow
			display none		
		
	.linkArrow
		position absolute
		bottom 2px
		width 100%
		text-align center
		font-size .6em
		height 1em
		line-height 1.4em
		
	.sublink
		display block
		padding 0px 10px 0px 10px
		color white
		transition: all 0.2s ease-out
		text-align center
		
		&:hover
			background-color darken(white, 80)
			box-shadow 5px alpha(#000, 30%)
		
		@media (max-width:500px)
				padding 0
			
.whiteheader
	.logga
		filter: invert(100%)
	.vrotxt
		color white
	.link
		color white
	.log
		background-color rgba(white, .2)
		.logtxt
			color white
			
	.logged-in
		background-color rgba(white,.2)
		.title
			color rgba(white,.9) !important
		