.bild
	bg-image karen
	width 80%
	padding-top 80%
	border-radius 50%
	margin 0 auto
	
	@media (max-width:500px){
		width 95%
		padding-top 95%
	}
	
.karruta
	width calc(100% / 3)
	display inline-block
	border-radius 5%
	
	&:hover
		background-color #f2f2f2
		
	@media (max-width:500px){
		width 50%
	}
	
.karbild
	text-align center
	margin 5px
	font-size 150%
	
.karheader
	bg-image odenplan jpg
	background-size cover
	
.kartext
	font-size 550%
	
.mainkar
	width 90%
	margin 5%
	text-align center
	
	@media (max-width:500px){
		width 100%
		margin 1%
	}