.loginDiv
	text-align center
	margin-bottom 50px
	
.logoBig
	bg-image logga
	width 200px
	height 200px

.loginInput
	width 230px
	margin 5px
	height 40px
	display inline-block
	
	@media (max-width:500px){
		width 90%
	}
	
.loginChoice
	width 260px
	margin 20px
	border-width 2px
	border-style solid
	border-color black
	background-color transparent