	
.slide
	width 100%
	height 350px
	position relative
	overflow hidden
	transition-timing-function ease-out
	margin-bottom .5%
	
	@media (max-width:500px){
		height 50vw
		margin 0
		width 100%
	}
	
.slideobject
	height 100%
	width 100%
	position absolute
	transition margin-left .5s
	background-size cover
	background-repeat no-repeat
	background-position center center
	
$quote = '"'
for num in 0 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 17 18 19 20 
	.slide[data-index={$quote}{num}{$quote}]
		.slideobject
			margin-left (-100% * num)


.bildtext
	$height = 50px
	z-index 20
	text-align center
	color white
	text-decoration none
	font-size 500%
	text-shadow 0px 0px 150px #000
	top 50%
	position absolute
	line-height $height
	height $height
	margin-top (-0.5 * $height)
	width 100%
	cursor default
	
	@media (max-width:500px){
		font-size 10vw
	}
	
.slidemarker
	position absolute
	bottom 5px
	width 100%
	height 25px
	z-index 20
	text-align center
	
.plupp
	height $pluppdia
	width $pluppdia
	border-radius $pluppdia
	display inline-block
	margin-left 3px
	margin-right 3px
	background-color rgba(255, 255, 255, 0)
	transition all 0.2s
	
	border 1px
	border-style solid
	border-color white
	display inline-block

.plupp0
	background-color white
	
.arrow
	box-sizing border-box
	width 75px
	height 187.5px
	bg-image arrow
	top calc(50% - 93.75px)
	z-index 40
	position absolute
	padding 25px
	background-origin content-box
	transition all 0.17s
	border-radius 0 100% 100% 0
	
	&:hover
		cursor pointer
		background-color rgba(0, 0, 0, 0.5)
		
	@media (max-width:500px){
		display none
	}
		
.arrowr
	right 0px
	transform: scaleX(-1)