.headertextmat
	@media (max-width:500px){
		color #eba44d
	}
		
.kleins
	bg-image kleins
	margin-left 10px
	bottom 0px
	height 70px
	width 70px
	opacity 0.5
	transition all 0.3s
	
	
	&:hover
		opacity 0.7
		
	@media (max-width:500px){
		display none
	}

			
.day
	width 100%
	padding 15px 0px 15px 0px
	text-align center
	
	@media (max-width:500px){
		padding 5px 0px 5px 0px
	}
	
	.veckodag
		display inline-block
		text-align center
		color grey
		font-size 200%
		
		@media (max-width:500px){
			font-size 150%
		}
				
	.meny
		text-align center
		color grey
		margin 5px 2px 0px 2px
		
	.huvudratt
		margin 2px 2px 0px 2px
		
	.vegratt
		display inline-block
		
	.vegratt::first-letter
		color rgba(112, 195, 0, 0.61)	
		
	.nextWeek
		font-size 140%
		color #5b5b5b
		background-color rgba(0, 0, 0, 0.04)
		width 100%
		padding 2px 0 2px 0
		
.veg-symbol
	width 18px
	height 18px
	bg-image broccoli 'svg'
	display inline-block
	position relative
	top 3px
	fill grey

.veckodag.dateMonth
	margin-left 5px
	font-size: 131%;
    opacity: .8
	
.kott
	width 18px
	height 18px
	display inline-block
	
.today
	background-color #fff0da
	color black !important
	