.postPlane
	
	.post-view
		width 80%
		max-width 800px
		overflow hidden
		
		.image
			width 50%
			padding-top 50%
			bg-image shape
			background-size cover
		
		.info
			display inline-block
			position absolute
			width 50%
			padding 18px
			top 0px
			right  0px
			height 100%
			box-sizing border-box
			
			.gradient-border
				position fixed
				background: linear-gradient(rgba(white,1), rgba(0,0,0,0))
				width 50%
				height 10px
				top 0
				right 0
				display none
				
			.gradient-bottom
				bottom 0px
				background: linear-gradient(rgba(0,0,0,0), rgba(white,1))
				
			.hide-scroll
				position absolute
				height 100%
				width 28px
				background-color white
				right 0px
				z-index 1
				
			.container
				overflow-y scroll
				padding-right 17px
				position relative !important
				.header
					font-family BebasNeue
					font-size 5vw
					width calc(100% - 18px)
					margin-bottom 10px
					color #4a4a4a
					
					@media (min-width:1024px){
						font-size 300%
					}
				.text
					font-size 1.7vw
					
					@media (min-width:1024px){
						font-size 100%
					}
				
.dark-body
	overflow hidden

	.darkBackground
		display block
		
.show-plane
	display block !important
	
	