.centeracenter
	margin 10px
	text-align center
	@media (max-width:500px){
		margin 0px
	}
	
	.styrelsencenter
		max-width 750px
		display inline-block
		
.styrelsenruta
	margin 10px
	cursor default
	@media (max-width:500px){
		margin 3%
		width 94%
		margin-bottom 0px
	}

.styrelsenrubrik
	margin-top 20px
	margin-bottom 10px
	color white
	@media (max-width:500px){
		font-size 6vw
	}
	
.styrelseninfo
	text-align center
	color white
	border-radius 0px 0px 5px 5px
	@media (max-width:500px){
		font-size 5vw
		padding 2px
	}