.centeracenter
	margin 10px
	text-align center
	@media (max-width:500px){
		margin 0px
	}
	
	.styrelsencenter
		max-width 750px
		display inline-block
		
		@media (max-width:500px)
			margin 1%
		
.styrelsenruta
	margin 10px
	cursor default
	@media (max-width:500px){
		margin 1%
		width 48%
	}
	.utskotttop
		width 100%
		padding 0
		
		.utskottbild
			border-radius 4px
			width 94%
			padding-top 94%
			margin 3%

.styrelsenrubrik
	margin-top 10px
	margin-bottom 10px
	color white
	@media (max-width:500px){
		font-size 5vw
	}
	
.styrelseninfo
	text-align center
	color white
	border-radius 0px 0px 5px 5px
	@media (max-width:500px){
		font-size 4vw
		padding 2px
	}