.utskottheader
	background-color #222222
	
	.shineheader
		
		@media (max-width:500px){
			display none
		}
	
.utskottheadtext
	
.utskottfield
	text-align center
	
	@media (max-width:500px){
		line-height 90%
	}
	
.utskottruta
	width 220px
	border-radius 5px
	margin 15px
	display inline-block
	cursor pointer
	position relative
	transition all .3s
	
	@media (max-width:500px){
		margin calc(4% / 6)
		width 48%
	}
	
	&:hover
		transform scale(1.01) translateY(-4px)
		box-shadow 0px 7px 36px rgba(0,0,0,0.2)
	
	.utskotttop
		width 80%
		padding 10%
		border-radius 5px 5px 0px 0px
		transition all 0.1s

		.utskottbild
			width 90%
			padding-top 90%
			margin 5%
			
			background-repeat no-repeat
			background-size cover
			background-position center center		
		
	.utskotttext
		text-align center
		font-size 150%
		color white
		
		@media (max-width:500px){
			padding 8px 0px 8px 0px
		}
		
		@media (max-width:400px){
			font-size 120%
		}
	
.shine
	width 100%
	height 100%
	background: linear-gradient(rgba(255,255,255,0.2), rgba(255,0,0,0))
	position absolute
	top 0px
	left 0px
	
.ingentext
	text-align center !important
	margin 30px
	max-width 600px !important
	
