doctype html
html
	head
		if title
			title #{title}
		
		//- Meta
		meta(charset="utf-8")
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		
		//- Style
		include style

	body
		//- Preheader is short preview text of email, 75 char limit
		//- See http://blog.sendblaster.com/2014/02/05/how-to-create-a-perfect-email-preheader/
		if preheader
			span.preheader= preheader

		.main-content
			block mainContent