[data-page="catch-success"]
	p
		text-align center
	.main
		display inline-block 
	
	.main-content
		border-radius 10px
		padding 30px
		background white
		height 350px
		border-style solid
		border-width 1px
		border-color $darkgrey
		
	h1
		font-title()
		text-decoration underline
		color $red
		text-align center
		font-size 250%
		
	.main
		$logwidth = 300
		position relative
		top 50px
		color white
		background $red
		border-radius 5px
		transition 0.2s
		text-align center
		font-size 125%
		margin-left ($std_page_width / 2 - 140)
		border-style solid
		border-width 1px
		border-color $darkgrey
		padding 7px
		
		&:hover
			background $darkred
			cursor pointer
		a
			color white
		
	p
		position relative
		top 10px
		
	.made
		font-size 65%
		position absolute
		bottom 0px
		color $darkergrey
		width 100%
		
		.hover, .default
			position absolute
			top 5px
			transition opacity 0.3s
			//transition font-size 0.3s
		.hover
			opacity 0
			//font-size 0%
		&:hover
			.hover
				opacity 1
				//font-size 100%
			.default
				opacity 0