[data-page="die"]
	.main-content
		height 300px
		max-width 450px

	.info
		text-align center
	.code
		text-align center
		
	h1
		color $red
		margin-bottom 20px
		
	.main-content .main
		button-style $red
		top 30px
		width 200px
		
		&:hover
			background $darkred
		
	.info
		position relative
		top 10px
		
	.code
		position relative
		top 20px
		font-size 200%
		font-weight bold
		margin 10px 0