[data-page="die"]
	.main-content
		height 250px

	.info
		text-align center
	.code
		text-align center
		
	h1
		color $red
		
	.main-content .main
		$logwidth = 300
		position relative
		top 40px
		color white
		background $red
		border-radius 5px
		transition 0.2s
		text-align center
		font-size 125%
		margin-left ($std_page_width / 2 - 140)
		border-style solid
		border-width 1px
		border-color $darkgrey
		padding 7px
		
		&:hover
			background $darkred
			cursor pointer
		a
			color white
		
	.info
		position relative
		top 10px
		
	.code
		position relative
		top 20px
		font-size 200%
		font-weight bold
		
	.made
		font-size 65%
		position absolute
		bottom 0px
		color $darkergrey
		width 100%
		
		.hover, .default
			position absolute
			top 5px
			transition opacity 0.3s
			//transition font-size 0.3s
		.hover
			opacity 0
			//font-size 0%
		&:hover
			.hover
				opacity 1
				//font-size 100%
			.default
				opacity 0