[data-page="login"], [data-page="catch"]
	.main-content
		height 300px
		max-width 450px
	h1
		color $blue
		
	.error-message
		text-align center
		top 20px
		position relative

	$wi = 200px
	input[type="text"]
		width $wi
		display block
		height 40px
		text-align center
		position relative
		top 50px
		margin 0 auto
		font-size 25px
		&:focus
			outline none
		
	input[type="submit"]
		width $wi
		top 60px
		button-style $blue
		&:disabled
			opacity 0.5
			pointer-events none
		&:hover
			background $darkblue
			cursor pointer