[data-page="login"]
	h1
		font-title()
		text-decoration none
		
	.main-content
		border-radius 10px
		padding 30px
		background white
		height 350px
		border-style solid
		border-width 1px
		border-color $darkgrey
	h1
		font-title()
		text-decoration underline
		color $blue
		text-align center
		font-size 250%
		
	.error-message
		text-align center
		top 20px
		position relative

	$wi = 200px
	input[type="text"]
		width $wi
		display block
		height 40px
		text-align center
		position relative
		top 50px
		margin 0 auto
		font-size 25px
		&:focus
			outline none
		
	input[type="submit"]
		width $wi
		top 60px
		button-style $blue
		
		&:hover
			background $darkblue
			cursor pointer
			
	.made
		font-size 65%
		position absolute
		bottom 0px
		color $darkergrey
		width 100%
		
		.hover, .default
			position absolute
			top 5px
			transition opacity 0.3s
			//transition font-size 0.3s
		.hover
			opacity 0
			//font-size 0%
		&:hover
			.hover
				opacity 1
				//font-size 100%
			.default
				opacity 0