script.

	var dataPage = '#{dataPage}'
	var subpage = dataPage == 'ettutskott'? "#{utskott}":
		dataPage == 'enkommitte'? "#{kommitte}":
		undefined
	if(subpage)subpage = subpage.toLowerCase()

	function todo(color){

		_(".header").style.backgroundColor = color
		_('.phonelinks').style.backgroundColor = blendColors(color, "#000000", 0.2)
		if(color !== "#ffffff"){
			_(".phonelinks").className += " whitelinks"
			_('.headertext').style.color = 'white'
		}

		if ((window.matchMedia("(max-width: 500px)").matches) && (color !== "#ffffff")){

			_(".center-header").style.backgroundColor = color

			if(dataPage !== 'styrelsen'){
				_(".log").style.backgroundColor = blendColors(color, "#000000", 0.3)
			}

			link = document.createElement('div')
			link.className ="kommittelink"
			link.style.backgroundColor = color
			link.style.minHeight = "20px"

			var el = _('center') || _('.main-content')
			el.appendChild(link)
		}else{
			_('.headertext').style.color = 'black'
		}
	}

	var pageinfo = pageinfos[dataPage]
	var subpageinfo = !pageinfo||!subpage?undefined:pageinfo.find(function(subpageinfo){
		return subpageinfo.name.replace(/_/g," ").toLowerCase() == subpage
	})
	if(pageinfo){
		todo(!subpage?pageinfo.color:
			(subpageinfo?subpageinfo.color:'#ff0000'))
	}