doctype html
html
	head
		title #{title}
		// Initially created by Leonard Pauli, sep 2016
		
		//- Meta
		meta(charset="utf-8")
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		meta(http-equiv='cache-control' content='max-age=86400000')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='robots' content='index, follow')
		
		include meta-seo
		
		link(rel='stylesheet', href='/css/default.css')
		link(rel='stylesheet', href='/css/coat.css?v=1')

		script(src="/js/jquery-3.1.0.min.js")    
		script(src="/js/index.js?v=1")
	- dataPage = dataPage || 'none'
	body(data-page='#{dataPage}').loading

		//- Main content
		.main-content
			block mainContent
			//- if mainContent
			//- 	| !{mainContent}