doctype html
html
	head
		title #{title}
		// Initially created by Leonard Pauli, sep 2016
		
		//- Meta
		meta(charset="utf-8")
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='robots' content='index, follow')
		
		include meta-seo

		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		
		link(rel='stylesheet', href='/css/default.css')
		link(rel='stylesheet', href='/css/coat.css')

		//- Helpers
		script(src="/js/helpers/jquery-3.1.0.min.js")
		script(src="/js/helpers/api.js")

		//- 
		script(src="/js/api.js")
		script(src="/js/general.js")
		script(src="/js/catcher.js")

	- dataPage = dataPage || 'none'
	body(data-page='#{dataPage}').loading

		//- Main content
		.main-content
			block mainContent
			//- if mainContent
			//- 	| !{mainContent}