extend default

block content
	div.header

	div.button.ettplus
		| KILL

	div.button.nollad
		| KILLED

	div.button.faq
		| FAQ

	div.abborre
		|Vill ni veta vad hunden på bilden heter?

	div.sill
		| Han heter Tjorven :)

	div.torsk
		| Han ser ut som att han är dum i huvudet men han är jättesmart faktiskt!!!

		a(href="/") Tjorven är en bulldog någonting jag vet inte

