.footer-made
	.default Made by the VRO-Web Team, part of Kommunikationsutskottet
	.hover
		| Webdesign primarily by Erik Enger Karlson and Emma Nergell
		br
		| Backend primarily by Leonard Pauli and Jacob Tilly