//- Standard meta tags
meta(name='description' 							content="Viktor Rydberg Odenplans Elevkårs hemsida")
meta(name='keywords' 									content='viktor,rydberg,odenplan,vr,viktor rydberg odenplans elevkår,vro elevkår,elevkår,vrg,vro,gymnasium')
meta(name='author' 										content='VRODev')

//- FB open graph tags
meta(property='og:url' 								content='http://vroelevkar.se')
meta(property='og:type' 							content='website')
meta(property='og:locale' 						content='sv_SE')
meta(property='og:title' 							content="VRO Elevkårs Hemsida")
meta(property='og:site_name' 					content="VRO Elevkårs Hemsida")
meta(property='og:description' 				content='Nyheter, info och mer kul från VRO Elevkår')

meta(property='og:image' 							content='http://vroelevkar.se/images/fb-share-image.png')
//meta(property='og:image:secure_url' 	content='')
meta(property='og:image:width' 				content='1200')
meta(property='og:image:height' 			content='630')

//- Twitter meta tags
meta(name='twitter:card' 							content='summary_large_image')
meta(name='twitter:site' 							content='@vroelevkar')
meta(name='twitter:creator' 					content='@vroelevkar')
meta(name='twitter:title' 						content="VRO Elevkårs Hemsida")
meta(name='twitter:description' 			content='Nyheter, info och mer kul från VRO Elevkår')

meta(name='twitter:image' 						content='http://vroelevkar.se/images/fb-share-image.png')