.card(@click="expand")
	.content
		.image(:style='{backgroundImage:"url(" + post.imgUrl + ")"}')
		.info
			.text-content
				.title(ref='title', :contenteditable="editable", v-on:keyup='displayChange') {{post.title}}
				.subtitle(ref='subtitle', :contenteditable="editable", v-on:keyup='displayChange') {{post.subtitle}}
				.text(ref='text', :contenteditable="editable", v-html='post.text', v-on:keyup='displayChange')
				
				div.checkboxdiv.choice.add-choice(v-if='editable')
							input.checkbox(type='checkbox', ref='prioritized', v-model='post.prioritized', @click='displayChange')
							label.label2(for='prioritizedCheckbox') Prioriterad
				.choice.edit(v-if='editable', ref='changeButton', @click='save') Edit Post
				.choice.remove(v-if='editable', @click='deleteItem') Remove Post

	.close(@click='closePanel')
		.cross +