base-card(
	ref='base',
	@expand="expand",
	:post="post",
	:expanded="expanded",
	:editable="editable",
	@wasChanged="displayChange")
	.subtitle(ref='subtitle', :contenteditable="editable", v-on:keyup='displayChange') {{post.subtitle}}
	.text(ref='text', :contenteditable="editable", v-html='post.text', v-on:keyup='displayChange')
	.uploadDate.inside(v-html='uploadDate')
	
	
	div.checkboxdiv.choice.add-choice(v-if='editable')
		input.checkbox(type='checkbox', ref='prioritized', v-model='post.prioritized', @click='displayChange')
		label.label2(for='prioritizedCheckbox') Prioriterad
	.choice.edit(v-if='editable', ref='changeButton', @click='save') Edit Post
	.choice.remove(v-if='editable', @click='deleteItem') Remove Post

	.close(slot="after-content", @click='closePanel')
		.cross +

	.uploadDate(v-html='uploadDate', slot='lol')