.card(@click="expand")
	.content
		.image(:style='{backgroundImage:"url(" + post.imgUrl + ")"}')
		.info
			.text-content
				.title(:contenteditable="editable") {{post.title}}
				.text(:contenteditable="editable", v-html='post.text')
				
				.choice.remove(v-if='editable', @click='deleteItem') Remove Post
				.choice.edit(v-if='editable', @click='editItem') Edit Post

	.close(@click='closePanel')
		.cross +