extend ../default2
block mainContent

	.header.utskottheader
		.shineheader
		h1.headertext.utskottheadtext Admin

	input(id='name' placeholder='name')
	input(id='about' placeholder='about')
	input(id='type' placeholder='type')
	input(id='open' placeholder='open(nothing for false)')
	button(onclick='addgroup()')

	script(src='/js/admin.js')

		



		