extend ../default
block mainContent
	// Main page; after logged in
	// Returned to from success
	
	h1 Homepage #{email}
	
	p.statustext#statustext Your victim is #{target}

	a(href="#").die

	a(href="/catch").catch


	//- p.di#di I was caught
	//- p.ca#ca I caught #{target}
