extend ../default
block mainContent
	// Main page; after logged in
	// Returned to from success
	<br>
	h1 Homepage #{email}
	<br>
	p.statustext#statustext Your victim is #{target}
	
	a(href="/faq").faq
		spam FAQ

	a(href="/logout").log-out
		spam Log out

	a(href="#").die

	a(href="/catch").catch


	//- p.di#di I was caught
	//- p.ca#ca I caught #{target}
