extend ../default
block mainContent
	// Catch-success
	h1 Congratulations!

	<br>

	div.catch-success
		p Return to the Homepage to reveal your next victim

	<br>

	div.main
		a(href="main") Return to Homepage

	//- TO DO
		Base.styl el. coat.styl
		- Centrera alla html-element
		- Samma styling som "login" fast $darkRed
