extend ../default
block mainContent

	h1 Submit your Catch!

	p.info Enter the code shown on #{target.firstName}'s screen

	if errorMessage
		.error-message= errorMessage

	form(action="catch-success" method="get")
		input(type="text" placeholder="XXXXXX" name="catchCode")
		input(type="submit" disabled="true" value="Submit")

	script.
		var loginText = document.querySelector('.main-content input[name="catchCode"]')
		var loginBtn  = document.querySelector('.main-content input[type="submit"]')
		loginText.addEventListener('keyup', function(e) {
			var value = loginText.value = loginText.value.toUpperCase()
			loginBtn.disabled = value.length != 6
		}, false)