extend ../default
block mainContent
	// Catch
	h1 Submit your Catch!

	p.info Enter the code shown on #{target.firstName}'s screen

	if errorMessage
		.error-message= errorMessage

	form(action="catch-success" method="get")
		input(type="text" placeholder="XXXXXX" name="catchCode")
		input(type="submit" value="Submit")

	.made
		.default Made by the VRO-Web Team
		.hover Webdesign by Erik Enger Karlson and Emma Nergell<br>Back-end by Jacob Tilly and Leonard Pauli

	//- TO DO
		 Base.styl el. coat.styl:
		- Centrera all text samt textruta/genererad kod
		- Samma grafisk profil som "login" fast i $red
