extend ../default
block mainContent
	// Catch-success
	h1 Congratulations!

	<br>

	div.catch-success
		p Return to the Homepage to reveal your next victim

	<br>

	div.main
		a(href="main") Return to Homepage

	.made
		.default Made by the VRO-Web Team
		.hover Webdesign by Erik Enger Karlson and Emma Nergell<br>Back-end by Jacob Tilly and Leonard Pauli

	//- TO DO
		Base.styl el. coat.styl
		- Centrera alla html-element
		- Samma styling som "login" fast $darkRed
