extend ../default
block mainContent
	// Catch
	h1 Submit your Catch

	<br>

	p.info Enter in the code shown on #{target}'s screen

	form(action="catch-success" method="get")
		input(placeholder="Type in the code here" name="xLoginCode" value=logincode).text
		input(type="submit" value="Submit").log
		
	<br>

	div.main
		a(href="/main").main Back to the Homepage

	//- TO DO
		 Base.styl el. coat.styl:
		- Centrera all text samt textruta/genererad kod
		- Samma grafisk profil som "login" fast i $red
