extend ../default
block mainContent
	// Catch
	h1 Submit your Catch

	<br>

	p.
		Enter code shown on the victim's screen.

	input.text(placeholder="Type in your code here" name="textbox" value=logincode)
		
	<br>

	div.main
		a(href="/main").main Back to HOMEPAGE

	//- TO DO
		 Base.styl el. coat.styl:
		- Centrera all text samt textruta/genererad kod
		- Liknande grafisk profil som "login" fast i $red
