extend ../default
block mainContent
	// Catch
	h1 Submit your Catch

	<br>
	input.text(placeholder="Type in your code here" name="textbox" value=logincode)
		
	div.main
		a(href="/main") Back to HOMEPAGE
