extend ../default
block mainContent
	// Die
	h1 Did you get caught?

	p.info Show this code to your Catcher
	p.code= catchCode

	a.main(href="/") Back to HOMEPAGE

	.made
		.default Made by the VRO-Web Team
		.hover Webdesign by Erik Enger Karlson and Emma Nergell<br>Back-end by Jacob Tilly and Leonard Pauli