extend ../default
block mainContent
	// Die
	h1 Did you get caught?

	<br>

	p.
		Show this code to your Catcher. Return to HOMEPAGE when Catch is fully registered.


	//- Generera kod här

	<br>

	a(href="/main") Back to HOMEPAGE

	//- TO DO
		 Base.styl el. coat.styl:
		- Centrera all text samt textruta/genererad kod
		- Liknande grafisk profil som "login" fast i $red

