extend ../default
block mainContent
	// Die
	h1 Did you get caught?

	p.
		Show this code to your Catcher. Return to HOMEPAGE when Catch is fully registered.


	//- Generera kod här

	a(href="/main") Back to HOMEPAGE

