extend ../default
block mainContent
	// Die
	h1 Did you get caught?

	<br>

	p.info Show this code to your Catcher

	p.code 123456


	//- Generera kod här

	<br>

	a.main(href="/main") Back to HOMEPAGE

	.made
		.default Made by the VRO-Web Team
		.hover Webdesign by Erik Enger Karlson and Emma Nergell<br>Back-end by Jacob Tilly and Leonard Pauli

	//- TO DO
		 Base.styl el. coat.styl:
		- Centrera all text samt textruta/genererad kod
		- Samma grafisk profil som "login" fast i $red

