extend ../default2
block mainContent

	.header.utskottheader
		.shineheader.extrashine
		h1.headertext.utskottheadtext

	.loggacenter
		.utskotttextfalt.kommittefalt
			.center
				h2.utskottrubrik Vilka vi är
				.utskottinfo.kommitteinfo

	script(src="/js/enkommitte.js")


