extend ../default2
block mainContent

	.header.utskottheader
		.headerbackground
		.shineheader.extrashine
		h1.headertext.utskottheadtext

	.loggacenter
		.utskotttextfalt.kommittefalt
			.center
				.utskottinfo

	script(src="/js/enkommitte.js")


