extend ../default2
block mainContent

	.header.utskottheader
		.shineheader.extrashine
		h1.headertext.utskottheadtext
	.loggacenter
		.utskotttextfalt.kommittefalt
			.center
				h2.utskottrubrik Vilka vi är
				.utskottinfo


	script.
		var kommitte = subpageinfo

		var num


		_('.headertext').innerText = kommitte.name + ' kommittén'

		_(".utskottheader").style.backgroundColor = kommitte.color
		_(".utskottinfo").innerHTML = kommitte.desc

		_('.utskottrubrik').style.color = blendColors(kommitte.color, "#000000", 0.3)

		if (window.matchMedia("(max-width: 500px)").matches) {
			_('.utskottheadtext').style.color = kommitte.color
			_(".utskottheader").style.backgroundColor = "transparent"
		}

		if(kommitte.ord !== ''){
			text = document.createElement('h2')
			text.className ="utskottrubrik ordfarande"
			text.innerText = kommitte.ord + ' är ordförande'
			_('.center').appendChild(text)

			text.style.color = kommitte.color + "!impotant"
		}

		link = document.createElement('div')
		link.className ="kommittelink"
		link.style.backgroundColor = kommitte.color
		link.style.minHeight = "20px"
		_('.center').appendChild(link)

		if(kommitte.link !== ''){
			
			link.setAttribute("onclick", "window.location.href = '" + kommitte.link + "'")

			linktx = document.createElement('h2')
			linktx.className = "kommittelinktext"
			link.appendChild(linktx)

			if(kommitte.link.indexOf("facebook") !== -1){
				linktx.innerText = "Kommitténs Facebook"
			}else if(kommitte.link.indexOf("instagram") !== -1){
				linktx.innerText = "Kommitténs Instagram"
			}else{
				linktx.innerText = "Kommitténs sociala nätverk"
			}

			shine = document.createElement('div')
			shine.className = "shine"
			link.appendChild(shine)

			_('.ordfarande').style.color = kommitte.color
		}else{
			link.style.position = "absolute"
		}



		if(kommitte.name.localeCompare("östasiatisk kultur") ==  0){
			_('.utskottheadtext').innerText = "östasiatiska kulturkommittén"
		}

		if(kommitte.name.localeCompare("aktiesparare") ==  0){
			_('.utskottheadtext').innerText = "aktiesparar kommittén"
			_('.utskottinfo').style.marginBottom = '40px'
		}

		if(kommitte.name.localeCompare("harry potter") ==  0){
			_('.utskottheadtext').innerText = "harry potter kommittén (9¾)"
		}

		if(kommitte.name.localeCompare("debate society") ==  0){
			_('.utskottheadtext').innerText = "debate society"
		}