extend ../default2
block mainContent

	.header.utskottheader
		.shineheader.extrashine
		h1.headertext.utskottheadtext #{utskott}
	.loggacenter
		.utskotttextfalt
			h2.arbeterubrik.utskottrubrik Vad vi arbetar med
			.center
				p.arbete.utskottinfo
			h2.hjalprubrik.utskottrubrik Vad vi kan hjälpa dig med
			.center
				p.hjalp.utskottinfo
		<br>

	script(src="/js/ettutskott.js")