extend ../default
block mainContent
	// Catcher FAQ
	h1 faq
	<br>
	p.bold.
		Catcher is here
	p Killergame har bytt namn till Catcher med respekt för SPRINT-eleverna. Ni har nu ett par farliga månader på er fram till jul... <br><br>
	p.bold.
		The Mission <br>
	ol
		li Ta reda på vem ditt offer är (Facebook, Schoolity…) <br>
		li Osäkra ditt vapen genom att placera dig själv, stilla, minst fem meter ifrån ditt offer och ropa ”Catcher” så att omgivningen hör. <br>
		li Gå (spring) fram till ditt offer och antingen krama hen eller lägg båda dina händer på offrets axlar.<br>
		li Båda ska därefter ta fram hemsidan och markera sig som tagen respektive mission accomplished. Markera tagen genom att klicka på ledsen smiley. Markera mission accomplished genom att klicka på glad smiley. Följ sedan instruktionerna.<br>
		li Om en dispyt skulle ske, kontakta spelledaren (Nikol Kanavakis) på niko.kana-2017@vrg.se eller i skolan. Tips! Samla vittnen.<br><br>
	p.bold.
		Methods of Defense<br>
	ul.a
		li Du kommer undan att bli tagen genom att krama någon annan än din catcher innan hen hunnit krama dig.<br>
		li Genom att lämna skolbyggnaden (springa ut genom en ytterdörr)<br>
		li Genom att nå en så kallad Safe Zone.<br><br>
	p.bold.
		Safe Zones<br>
	ul.a
		li Sidh-salen och matsalskön (när det faktiskt är kö, inte annars...)<br>
		li Hela våning fyra (där biblioteket ligger) samt trappan upp till våning fyra<br>
		li Under Lektionstid, i Klassrum och i grupprum. Det är totalförbjudet att på något sätt störa en lektion!<br>
		li Toalettområdena<br>
		li Skolhälsan, lärarrum, rektorsrum och liknande<br>
		li Hissar<br>
		li Nödutgångar, nödtrappor och dylikt samt hela skolan i brandsituationer<br><br>
	p.bold.
		Keep in mind!<br>
	ul.a
		li Mord får endast ske inuti skolbyggnaden (VRG OPL), dock ej i safe zones.<br>
		li Om du misslyckat med ett mordförsök får du inte försöka igen på en halvtimme.<br>
		li Du får inte ta fysisk hjälp av någon när du mördar. Du får alltså inte använda dig av en kompanjon som håller fast ditt offer, håller igen en dörr etc. Dock får både du och kompanjoner lura ditt offer på villovägar.<br>
		li Visa hänsyn till skolans personal och lärare. Stör inte undervisning, rusa inte in i klassrum där det pågår lektion. Detta innebär omedelbar diskvalificering.<br>
		li Spelledaren har rätt att när som helst ändra regler och diskvalificera spelare. Ställ dig därför sex meter snarare än vad du tror är fem meter bort när du ska ropa CATCHER, så att det inte råder några tvivelaktigheter att du var på tillräckligt avstånd för ditt mord.<br>
		li Försök kom undan din mördare genom att spela smart och försiktigt. Du kan även försöka dölja din identitet. Nästan alla medel är tillåtna: hattar, förklädnader, hårfärgning, röstförvrängare. Heltäckande masker är dock förbjudet (förutom på Halloween)<br><br>
	p.bold.
		BILJETTFÖRSÄLJNING<br>
	p 20kr för medlemmar 40kr icke-medlemmar<br>
	ul.a
		li Tisdag 27 September 12.00 - 13.00<br>
		li Fredag 30 September 11.15 - 13.00<br>
		li Fredag 7 Oktober 11.15 - 13.00<br><br>

	p.end CATCH THEM ALL!

	div.bar 
		a(href="/faq").fragor2 
			spam FAQ
		a(href="/main").home2 
			spam Homepage
		a(href="/logout").bye2 
			spam Log out

<br>
<br>





	


	



	






