extend ../default2
block mainContent

	.header.karheader
		h1.headertext.kartext Kåren

	.mainkar
		a(href='/styrelsen')
			.styrelsen.karruta
				.bild.styr
				h3.karbild Styrelsen

		a(href='/utskott')
			.utskott.karruta
				.bild.uts
				h3.karbild Utskott

		a(href='/kommitte')
			.kommitte.karruta
				.bild.kom
				h3.karbild Kommittéer