extend ../default2
block mainContent

	.header.karheader
		h1.headertext.kartext Kåren

	.mainkar
		.styrelsen.karruta
			.bild.styr
			h3.karbild Styrelsen

		.utskott.karruta
			.bild.uts
			h3.karbild Utskott

		.kommitte.karruta
			.bild.kom
			h3.karbild Kommittéer


	script.
		



		