extend ../default2
block mainContent
	if user
		.holder
			.karkort
				.relative
					.image
					.corner
					.person
						.profile-image(style="background-image: url(#{user.picture})")
						.name= user.fullName
					.text

		script.
			document.body.style.background = 'linear-gradient(rgba(40, 130, 95,.9), rgba(40, 130, 95,.8))'
			_('.main-content').style.background = 'linear-gradient(rgba(40, 130, 95,1), rgba(40, 130, 95,.0))'
			var date = new Date()
			var currentYear = date.getFullYear()
			_('.karkort').querySelector('.text').innerHTML = 'Kårkort<br>' + currentYear



			var onResize = function(){
				var headerHeight = _('.topheader').offsetHeight
				var ratio = (document.body.clientHeight - headerHeight) / document.body.clientWidth
				console.log(ratio)
				_('.holder').classList.toggle('wide-holder', ratio < 0.6)

				_('.main-content').style.textAlign = (ratio < .6)?'center':''
			}
			window.addEventListener('resize', onResize)
			onResize()