extend ../default
block mainContent
	// Login page
	h1 log in to catcher

	if errorMessage
		.error-message= errorMessage

	form(action="/" method="get")
		input(type="text" placeholder="XXXXXX" onFocus="allowSending();" name="xLoginCode")
		input(type="submit" disabled="true" maxlength="6" min-length="6" id="loginbutton" value="Log In")

	.made
		.default Made by the VRO-Web Team, part of Kommunikationsutskottet
		.hover
			| Webdesign by Erik Enger Karlson and Emma Nergell
			br
			| Backend by Jacob Tilly and Leonard Pauli


	//- TO DO
		- Centrera textruta 