extend ../default
block mainContent

	h1 Log in to catcher

	if errorMessage
		.error-message= errorMessage

	form(action="/" method="get")
		input(type="text" placeholder="XXXXXX" name="xLoginCode")
		input(type="submit" disabled="true" value="Log In")

	script.
		var loginText = document.querySelector('.main-content input[name="xLoginCode"]')
		var loginBtn  = document.querySelector('.main-content input[type="submit"]')
		loginText.addEventListener('keyup', function(e) {
			var value = loginText.value = loginText.value.toUpperCase()
			loginBtn.disabled = value.length != 6
		}, false)