extend ../default
block mainContent
	// Login page
	h1 log in to catcher

	if errorMessage
		.error-message= errorMessage

	form(action="/" method="get")
		input(placeholder="Type in your login code" name="xLoginCode" value=logincode).text
		input(type="submit" value="Log In").log


	//- TO DO
		- Centrera textruta 