extend ../default
block mainContent
	// Login page
	h1 log in to catcher

	<br>

	input.text(placeholder="Type in your login code" name="textbox" value=logincode)

	<br>

	a(href="/main").log
		spam Log In

	//- TO DO
		- Centrera textruta 