extend ../default2
block mainContent

	.header
		.shineheader
		h1.headertext(style='text-decoration:underline') Logga in

	.loginDiv
		input.planeinput.loginInput(placeholder='Email' autofocus) 
		<br>
		input.planeinput.loginInput(type="password" placeholder='Lösenord')
		<br>
		.choice.loginChoice Logga in

	//- //p.hej
	//- .dag
	//- 	p.veckodag Tisdag
	//- 	p.meny.huvudratt Ekologisk pasta med strimlat nötkött, champinjoner och grädde
	//- 	p.meny.vegratt Tofu- och grönsaker tikka masala serveras med ekologiskt ris



		