extend ../default
block mainContent
	// Login page
	h1 Log in to catcher

	if errorMessage
		.error-message= errorMessage

	form(action="/" method="get" onsubmit="return document.getElementById('loginBtn').value.length>2")
		input(type="text" placeholder="XXXXXX" onfocus="document.getElementById('loginBtn').disabled = false;" name="xLoginCode")
		input(type="submit" disabled="true" value="Log In")#loginBtn

	.made
		.default Made by the VRO-Web Team, part of Kommunikationsutskottet
		.hover
			| Webdesign by Erik Enger Karlson and Emma Nergell
			br
			| Backend by Jacob Tilly and Leonard Pauli


	//- TO DO
		- Centrera textruta 