extend ../default
block mainContent
	// Login page
	h1 log in to catcher

	form(action="/" method="get")
		input.text(placeholder="Type in your login code" name="xLoginCode" value=logincode)
		input(type="submit" value="Log In").log


	//- TO DO
		- Centrera textruta 