extend ../default2
block mainContent

	.showoff
		.gradient
		.background
		.content
			.logo
			.name viktor rydberg odenplan <br> elevkår

	.sort-options
			.option(onclick='sortPosts("prioritized")' id='prioritized') Prioriterade poster
			.option(onclick='sortPosts("all")' id='all') Alla poster

	.card-container

		.card.menu
			a(href="/mat")
				.datecontainer
					.date
						.weekday.currentdate
						.monthday.currentdate
					.line
				.container
					.content
						p.mat.reg
						.vegcontainer
							.vegstamp
								.text 
									.character v
									.character e
									.character g
							p.mat.veg 

		.card.template
			.content
				.image
				.info
					.text-content
						.title
						.text

						if user
							.choice.remove Remove Post
							
			.close(onclick='closePanel()')
				.cross +

	script(src='/js/lolxdxd.js')
