extend ../default2
block mainContent

	.slide(data-index=0)
		.arrowr.arrow(onclick="forward()")
		.arrowl.arrow(onclick="backward()")
		.slidemarker

	.box.menu
		.container
			.header MATSEDEL
			p.mat Köttfärsås med ekologisk spaghetti och KRAV-ketchup

	- var slides = [{text:'hej',bild:'/images/insta.jpg',link:'http://youtube.com'}, {text:'2',bild:"/images/W_2013_199.png", link:'http://twitter.com'}, {text:'Pepparkakor',bild:"/images/WP_Meta_IV-3840x2160_00249.png", link:'http://facebook.com'}]
	- var boxes = [{bild:'/images/shape.png', link:'http://facebook.com'}, {bild:"/images/1902215.png", link:'http://facebook.com'}, {bild:"/images/geometrix.png", link:'http://facebook.com'}, {bild:"/images/toripoly.png", link:'http://facebook.com'}]

	script.
		var slides = JSON.parse('!{JSON.stringify(slides)}')
		var boxes = JSON.parse('!{JSON.stringify(boxes)}')

		var arrayLength = slides.length
		var boxLength = boxes.length
		var temp
		var pluppdia = 8
		var bredd = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName('body')[0].clientWidth

		for (i = 0; i < arrayLength; i++) {
			var slide = slides[i]
			temp = document.createElement('div')
			temp.className ="slideobject"
			temp.style.backgroundImage = "url(" + slide.bild + ")"
			temp.style.left = i * 100 + "%"
			temp.setAttribute("onclick", "window.location.href = '" + slide.link + "'")


			text = document.createElement('h1')
			text.className = "bildtext"
			temp.appendChild(text)
			text.innerHTML = slide.text

			plupp = document.createElement('div')
			plupp.className = "plupp"
			plupp.className += " plupp" + i
			document.querySelector(".slidemarker").appendChild(plupp)


			document.body.querySelector(".slide").appendChild(temp)
		}

		for (q = 0; q < boxLength; q++){
			box = document.createElement('div')
			box.className ="box"
			box.style.backgroundImage = "url(" + boxes[q].bild + ")"
			box.setAttribute("onclick", "window.location.href = '" + boxes[q].link + "'")

			document.body.querySelector(".main-content").appendChild(box)
		}
		
		var n = 0
		var ticket = setInterval(function next() {
				n++
				if(n > (arrayLength - 1)){
					n = 0
				}
				document.querySelector('.slide').dataset.index = n

				pluppar()

		}, 5000)

		function pluppar(){
			var active = ".plupp" + n
			var k = n-1

			if (k<0){
				k = arrayLength - 1
				}

			var inactive = ".plupp" + k
			document.querySelector(inactive).style.backgroundColor = "rgba(255, 255, 255, 0)"
			document.querySelector(active).style.backgroundColor = "white"
		}

		function plupparbak(){
			var active = ".plupp" + n
			document.querySelector(active).style.backgroundColor = "white"

			var k = n + 1

			if (k > arrayLength - 1){
				k = 0
			}

			var inactive = ".plupp" + k
			document.querySelector(inactive).style.backgroundColor = "rgba(255, 255, 255, 0)"
			
		}

		function forward(){
			n++
			if(n > (arrayLength - 1)){
				n = 0
			}
			document.querySelector('.slide').dataset.index = n
			clearTimeout(ticket)
			pluppar()
		}

		function backward(){
			n = n -1
			if(n < 0){
				n = arrayLength - 1
			}
			document.querySelector('.slide').dataset.index = n
			clearTimeout(ticket)
			plupparbak()
		}