extend ../default2
block mainContent

	.slide(data-index=0)
		.arrowr.arrow(onclick="forward()")
		.arrowl.arrow(onclick="backward()")
		.slidemarker
	.card-container
		.card.menu
			a(href="/mat")
				.container
					p.mat.reg 
					p.mat.veg 

		.card.template
			.image
			.info
				.content
					.title
					.text
			.close(onclick='closePanel()')
				.cross +

		.card.add-card.add-card-hidden
			input.imageinput(id="bild" type="file" accept="image/*")
			label.image.add-image(for='bild')
			.image.image-view
			.info
				.content
					.title.text-input(placeholder='rubrik' contentEditable="true")
					.text.text-input(placeholder='text' contentEditable="true")
					div.choice.chooseSlide.add-choice Är nu inte slide
					div.choice.publish.add-choice Publicera

			.close(onclick='closePanel()')
				.cross +


	.addplane
		.planebox
			.close
			input.imageinput(id='bild' type='file' accept="image/*")
			label.label(for='bild') Välj bild
			input.planeinput.titleinput(placeholder='Title')
			input.planeinput.bodyinput(placeholder='Body')
			input.planeinput.dateinput(placeholder='Body' type='date')
			.addChoose
				.choice.chooseSlide Är nu inte slide
				.choice.chooseNotify(style="display:none") Begär Notis
			.choice.publish Publicera
			.bottomPadding
		.close2

	script(src='/js/lolxdxd.js')
