extend ../default2
block mainContent

	.slide(data-index=0)
		.arrowr.arrow(onclick="forward()")
		.arrowl.arrow(onclick="backward()")
		.slidemarker

		.slideobject.template
			.content
				.image
				.info
					.content
						.title
						.text
						.choice.remove Remove Post
			.close(onclick='closePanel()')
				.cross +

	.card-container
		.card.menu
			a(href="/mat")
				.datecontainer
					.date
						.weekday.currentdate
						.monthday.currentdate
					.line
				.container
					.content
						p.mat.reg
						.vegcontainer
							.vegstamp
								.text veg
							p.mat.veg 

		.card.template
			.content
				.image
				.info
					.text-content
						.title
						.text

						if user
							.choice.remove Remove Post
							
			.close(onclick='closePanel()')
				.cross +

	script(src='/js/lolxdxd.js')
