extend ../default2
block mainContent

	.showoff
		.gradient
		.background
		.content
			.logo
			.name viktor rydberg odenplan <br> elevkår

	.sort-options
		.option(v-for='tab in tabs', :key='tab',:class='{selected:selectedTab == tab}', @click='selectedTab = tab') {{tab}}


	.card-container

		.card.menu(v-show='selectedTab == "Prioriterade poster"')
			a(href="/mat")
				.datecontainer
					.date
						.weekday.currentdate
						.monthday.currentdate
					.line
				.container
					.content
						p.mat.reg
						.vegcontainer
							.vegstamp
								.text 
									.character v
									.character e
									.character g
							p.mat.veg

		post-card(v-if='filteredPosts.length', v-for='post in filteredPosts', :key='post.id', :post='post')

	script(src='/js/lolxdxd.js')
