extend ../default2
block mainContent

	.slide(data-index=0)
		.arrowr.arrow(onclick="forward()")
		.arrowl.arrow(onclick="backward()")
		.slidemarker
	.card-container
		.box.menu
			a(href="/mat")
				.container
					p.mat.reg 
					p.mat.veg 

		.card
			.image
			.info
				.content
					.title
					.text

	- var slides = [{text:'hej',bild:'/images/insta.jpg',link:'http://youtube.com'}, {text:'2',bild:"/images/W_2013_199.png", link:'http://twitter.com'}, {text:'Pepparkakor',bild:"/images/WP_Meta_IV-3840x2160_00249.png", link:'http://facebook.com'}]

	// - var boxes = [{bild:'/images/instagram/bulle.jpg', link:'http://facebook.com', text:'Det är kanelbullens dag snart!'}, {bild:"/images/instagram/hobbit.png", link:'http://facebook.com', text:'På onsdag sak ni klä ut er igen'}, {bild:"/images/instagram/julklapp.jpg", link:'http://facebook.com', text:'Det är jul snart och då vill folk ha klappar'}, {bild:"/images/instagram/suitup.png", link:'http://facebook.com', text:'Fina kläder är bra'}, {bild:"/images/instagram/tävling.png", link:'http://facebook.com', text:'Det är tävling snart'}, {bild:"/images/instagram/vrofonden.png", link:'http://facebook.com', text:'Om du har lite pengar kan du nu komma till oss!'}]

	script(src='/js/lolxdxd.js')
