extend ../default
block mainContent
	// Main page; after logged in
	// Returned to from success
	h1 Homepage
	p Ditt offer är #{target}
	
	a(href="/faq").faq
		spam FAQ

	a(href="login").log-out
		spam Log out

	div.die
		a(href="die")

	div.catch
		a(href="catch")

	
