extend ../default
block mainContent
	// Main page; after logged in
	// Returned to from success
	<br>
	h1 Homepage
	<br>
	p.statustext Your victim is #{target}
	
	a(href="/faq").faq
		spam FAQ

	a(href="/login").log-out
		spam Log out

	a(href="/die").die

	a(href="/catch").catch


	//- p.di#di I was caught
	//- p.ca#ca I caught #{target}

	
