extend ../default
block mainContent

	if user
		if target
			h1 Homepage
			p.statustext Welcome, #{user.firstName}
			- var classNameText = (c=>c?'in class '+c:'')(target.className)
			p.statustext Your victim is #{target.name} #{classNameText}
		
			a(href="die").die
				.label I was caught
			a(href="catch").catch
				.label I caught #{target.firstName}

			div.warning
			h1.waringheadline Warning!
			p.warningtext
			br
			p.warningtext2
			
		else
			h1 RIP
			iframe(src="catcher-visualization.html")
			p.statustext You have been eliminated... for now. But what's better than being able to watch the living from above..?
			style.
				.main-content {height:600px !important;}

	else
		h1 Catcher
		p.
			#[br]Redo att se ditt offer?
			#[br]Tiden är kommen.
		a(href="login").login-btn Logga in
		div.warning
			h1.waringheadline Warning!
			p.warningtext

	script.
		function calculate(){
			var d = new Date();
			var h = d.getHours();
			var m = d.getMinutes();60
			var n = d.getDate();
			var daysleft = 18 - n
			var hoursleft = 24 -h
			var minutesleft = 60 - m
			document.querySelector(".warningtext").innerText = ("You will be eliminated unless you catch Arexander within " + daysleft + " days, " + hoursleft + " hours and " + minutesleft + " minutes")
			//document.querySelector(".warningtext2").innerText = (daysleft + " days, " + hoursleft + " hours and " + minutesleft + " minutes")
		}

