extend ../default
block mainContent
	// Main page; after logged in
	// Returned to from success
	h1 Homepage/HUB
	p Ditt offer är #{target}
	
	div.faq
		a(href="/faq") FAQ

	div.log-out
		a(href="login") Log out