extend ../default
block mainContent
	// Main page; after logged in
	// Returned to from success

	h1 Homepage #{name}

	p.statustext Your victim is #{target}

	a(href="#").die
	a(href="/catch").catch
	
	p.di I was caught
	p.ca I caught #{target}

	
