extend ../default
block mainContent
	// Main page; after logged in
	// Returned to from success

	if user
		h1 Homepage
		
		if target
			p.statustext Welcome, #{user.firstName}
			- var classNameText = (c=>c?'in class '+c:'')(target.className)
			p.statustext Your victim is #{target.name} #{classNameText}
		
			a(href="die").die
				.label I was caught
			a(href="catch").catch
				.label I caught #{target.firstName}
			
		else
			h1 RIP
			p You have been eliminated... for now.
	else
		h1 Catcher
		p.
			Du är inte inloggad. Logga in för att se ditt offer.
		a(href="login").login-btn Logga in

