extend ../default
block mainContent

	if user
		if target
			h1 Homepage
			p.statustext Welcome, #{user.firstName}
			- var classNameText = (c=>c?'in class '+c:'')(target.className)
			p.statustext Your victim is #{target.name} #{classNameText}
		
			a(href="die").die
				.label I was caught
			a(href="catch").catch
				.label I caught #{target.firstName}
			
		else
			h1 RIP
			iframe(src="catcher-visualization.html")
			p.statustext You have been eliminated... for now. But what's better than being able to watch the living from above..?
			style.
				.main-content {height:600px !important;}

	else
		h1 Catcher
		p.
			#[br]Redo att se ditt offer?
			#[br]Tiden är kommen.
		a(href="login").login-btn Logga in