extend ../default2
block mainContent

	.header
		.shineheader
		h1.headertext.headertextmat matsedel
	.matdagar
	//- //p.hej
	//- .dag
	//- 	p.veckodag Tisdag
	//- 	p.meny.huvudratt Ekologisk pasta med strimlat nötkött, champinjoner och grädde
	//- 	p.meny.vegratt Tofu- och grönsaker tikka masala serveras med ekologiskt ris


	script(src='/js/mat.js')		