extend ../default2
block mainContent

	.header
		.shineheader
		h1.headertext.headertextmat matsedel
	.matdagar
	//- //p.hej
	//- .dag
	//- 	p.veckodag Tisdag
	//- 	p.meny.huvudratt Ekologisk pasta med strimlat nötkött, champinjoner och grädde
	//- 	p.meny.vegratt Tofu- och grönsaker tikka masala serveras med ekologiskt ris


	script.
		_('.main-content').style.maxWidth = 'none'
		api.food(function(arr){
			var any = false

			for (i = 0; i < arr.length; i++) {
				var array = arr[i]
				temp = document.createElement('div')
				temp.className ="day"
				document.querySelector(".matdagar").appendChild(temp)

				text = document.createElement('p')
				text.className = "veckodag"
				temp.appendChild(text)

				text.innerHTML = array.date

				console.log(array.dateNumber)

				textreg = document.createElement('p')
				textreg.className = "meny huvudratt"
				textreg.innerText = arr[i].mainFood
				temp.appendChild(textreg)

				textveg = document.createElement('p')
				textveg.className = "meny vegratt"
				textveg.innerText = '☘ ' + arr[i].vegFood //✿
				temp.appendChild(textveg)

				var today = new Date().getDate()

				if(array.dateMS == today){
					temp.className += " today"
					text.className += " today"
					textreg.className += " today"
					textveg.className += " today"
					any = true
				}

				if(i == arr.length -1 && !any){

					var divs = document.querySelectorAll('.veckodag'), e;

					for (e = 0; e < divs.length; ++e) {
						divs[e].style.color = "black";
					}

					var divs2 = document.querySelectorAll('.meny'), f;

					for (f = 0; f < divs.length; ++f) {
						divs2[f].style.color = "black";
					}
				}
			}
		})



		