extend ../default2
block mainContent

	.header.utskottheader
		.shineheader.extrashine
		h1.headertext.utskottheadtext Om
	.loggacenter
		.utskotttextfalt.kommittefalt
			.center.omcenter
				.utskottinfo.kommitteinfo


	script.
		_('.utskottinfo').innerHTML = 'Viktor Rydberg Odenplans Elevkår grundades år 2012 av Hedda Tingskog i Stockholm. En elevkår är en ideell organisation medlem i Stockholms- och Sveriges Elevkårer och drivs av elever, för elever för att förbättra medlemmarnas inflytande på deras skolgång, skolmiljö och generella upplevelse på skolan. Kåren följer organisationsstrukturen där de två organen styrelse och utskottsgrupp finns och där utskottsansvariga i styrelsen arbetar som kommunicerande mellan dessa två.<br><br>Styrelsen består av de fem posterna ordförande, vice ordförande, administratör, skattmästare och utskottsansvarig. Utskottsansvariga är länken från styrelsen till utskottsgruppen som består av ordförande från respektive utskott vilka är miljö-, traditions-, påverkans-, finansiella-, sociala- och kommunikationsutskottet. Även ett studentutskott finns men dessa arbetar självständigt och i direkt kontakt med styrelsen. Dessutom finns två suppleanter valda ifall en representant skulle behöva ersättas tillfälligt.<br><br>Varje år hålls ett årsmöte där 13 valda representanter blir beviljade ansvarsfrihet innan nya representanter röstas fram och där beslut om motioner och propositioner tas. Varje år hålls även en ansökningsperiod för alla utskott där alla medlemmar kan välja att söka till ett utskott för att bli mer aktiva medlemmar som delegater i ett utskott (för studentutskottet väljs bara treor). Genom att följa Sveriges Elevkårers fyra arbetsområden lobbying, service, bildning och event där föreläsningar, rabattkort, skolkläder, temadagar och tävlingar är en del av vår verksamhet.'
		