extend ../default2
block mainContent

	.header.utskottheader
		.shineheader.extrashine
		h1.headertext.utskottheadtext Om
	.loggacenter
		.utskotttextfalt.kommittefalt
			.center.omcenter
				.utskottinfo.kommitteinfo


	script.
		_('.utskottinfo').innerHTML = 'Viktor Rydberg Odenplans Elevkår grundades år 2012 av Hedda Tingskog i Stockholm. En elevkår är en ideell och fristående organisation driven av elever, för elever, för att förbättra medlemmarnas inflytande på deras skolgång och generella upplevelse på skolan. Viktor Rydberg Odenplans Elevkår följer organisationsstrukturen där de två organen styrelse och utskottsgrupp finns.<br><br>Styrelsen består av de fem posterna ordförande, vice ordförande, administratör, skattmästare och utskottsansvarig. Utskottsansvariga är länken från styrelsen till utskottsgruppen som består av ordförande från respektive utskott vilka är miljö-, traditions-, påverkans-, finansiella-, sociala- och kommunikationsutskottet. Även ett studentutskott finns men dessa arbetar självständigt och i direkt kontakt med styrelsen. Dessutom finns två suppleanter valda ifall en representant skulle behöva ersättas tillfälligt eller permanent.<br><br>Varje år hålls ett årsmöte där det väljs 13 fötroendevalda inför nästkommande verksamhetsår samt inkomna motioner och propositioner diskuteras. Varje år hålls även en ansökningsperiod för alla utskott där alla medlemmar kan välja att söka till ett utskott för att bli mer aktiva medlemmar. Utöver utskotten kan också medlemmarna engagera sig i kommittéer och kårpoolen. Genom att följa Sveriges Elevkårers fyra arbetsområden lobbying, service, bildning och event fixar elevkåren bland annat föreläsningar, rabattkort, skolkläder, temadagar och tävlingar, för att nå en så bred verksamhet som möjligt!<br><br>Facebook: Viktor Rydberg Odenplans Elevkår<br>Youtube: Viktor Rydberg Odenplans Elevkår<br>Instagram: @vroelvkar<br>Snapchat: @vroelevkar<br>Twitter: @vroelevkar<br>Mail: odenplanselevkar@vrg.se<br><br>'
		