extend ../default2
block mainContent

	.header.utskottheader
		.headerbackground
		.shineheader.extrashine
		h1.headertext.utskottheadtext #{utskott}

	.loggacenter
		.utskotttextfalt
			.center
				.utskottinfo
		<br>

	script(src="/js/ettutskott.js")