extend ../default2
block mainContent

	.header.utskottheader
		.shineheader.extrashine
		h1.headertext.utskottheadtext

	.loggacenter
		.utskotttextfalt.kommittefalt
			.center
				.utskottinfo

	script(src="/js/styrelsenpers.js")


