extend ../default2
block mainContent

	.header.utskottheader
		.shineheader
		h1.headertext.utskottheadtext Utskott

	.utskottfield

	//- .utskottruta
	//- 	.utskotttop
	//- 		.utskottbild
	//- 	p.utskotttext Sociala

	script(src="/js/utskott.js")